[2021-08-25 10:30] #3578 closed

[2021-08-25 10:33] mgallien commented on #2991
I fail to see what would be the added value to document how one is supposed to be using an external tool to check the signature of a release.
I guess we will have to spend quite some time documenting how to do it on all platforms and I would prefer to focus on something else for the documentation.
My advice follow the results liked here [gpg verify signature](https://duckduckgo.com/?t=ffab&q=gpg+v

[2021-08-25 10:33] #2991 closed

[2021-08-25 10:35] mgallien commented on #3543
closing since the 3.3 release series is working again on all Windows edition still supported by Microsoft (8.1+ and 10+).

[2021-08-25 10:35] #3543 closed

[2021-08-25 10:36] #3379 closed

[2021-08-25 10:42] Grk0 commented on #1393
I'm affected by this as well. Explorer is pretty much unusable within the Nextcloud folder while the Nextcloud Windows client is syncing in the background.

[2021-08-25 10:51] mgallien commented on #1470
@kubuntu-fan can you test with the latest release to see if you still reproduce ?
in case the bug is fixed, please close this issue

[2021-08-25 11:03] LostInCompilation commented on #3491
I can understand that this is low priority, but not doing those little things will lead to more and more fragmentation and hard to find bugs. It's not the first time that I crashed a Nextcloud-Server because of this exact issue. 1000 files named nc_ and then there is one named oc_...
And I think your answer somehow confirmed this. If renaming this file is not an easy thing in the codebase, the pro

[2021-08-25 11:11] mgallien commented on #3275
cannot reproduce with latest release.
please if you still run into trouble open a new issue.

[2021-08-25 11:11] #3275 closed

[2021-08-25 11:38] kubuntu-fan commented on #1470
@mgallien
Recently switched to Ubuntu-Server 21.04 LTS with the actual snap of nextcloud, using Client-Version 3.2.4. I had to log in once via Browser; now it automatically logs in every time my desktop computer starts.

So, for me it is solved.

[2021-08-25 12:25] andyxheli commented on #3493
@mgallien yes will do. Thank you for the update

[2021-08-25 13:04] hpfr commented on #2573
I'm using KeePassXC's secret service feature, which is not integrated with a desktop environment, so I autostart it and sign in after login. Currently I autostart Nextcloud on a 60-second delay, which is fine, but ideally it would just autostart immediately and just silently fail until I unlock my database.

Great to hear!

[2021-08-25 13:39] mgallien commented on #30
So for people not using virtual files feature we would add a checkbox to either automatically sync new folders (default value) or not.
That would allow people to uncheck it if needed.
Is more discussion needed ?

[2021-08-25 13:43] mgallien commented on #3222
Thanks for the update.
As the switch to using wal with journaling is deliberate I do not think we can do anything on our side.

Is it too much to ask you to put that information in the [Nextcloud forum](https://help.nextcloud.com) for other people that may try to find a solution in that case ?

[2021-08-25 13:44] mgallien commented on #3222
I am considering we should close this issue
@detoxhby can you do it ?

[2021-08-25 14:03] mgallien commented on #1470
@kubuntu-fan thanks for the reply
closing it
if somebody experience troubles I would really suggest to either ask on the [Nextcloud forum](https://help.nextcloud.com) or open a new issue

[2021-08-25 14:03] #1470 closed

[2021-08-25 14:13] mgallien commented on #3381
This will be solved once we release 3.3.2 release at end of the month.
Please open a new issue if you ended up having troubles once you have tested that version.

[2021-08-25 14:13] #3381 closed

[2021-08-25 14:39] jancborchardt commented on #3693
Something that we can do wording-wise is to adjust it to be the same cross-platform. It’s quite nice how it’s done on Android, ref @tobiasKaminsky:
![Talk wording](https://user-images.githubusercontent.com/925062/130799629-3a977cc0-4cd4-4adc-bb30-00701a377f1a.jpeg)
What do you think @FlexW?

Also @rasos to have the least potential of confusion for your customers, we recommend getting branded Nextc

[2021-08-25 14:54] mgallien commented on #3613
thanks for the report
from what I can see there are two places where we do not handle that case as well as we should

[2021-08-25 14:59] mgallien commented on #1035
Thanks a lot for this.
We should really try to make good use of your blog post.
Do you mind if I try to share it ?

[2021-08-25 15:13] mgallien commented on #3615
@christianlupus Can you please test again with 3.3.2 once released at end of month ?
If the bug is indeed fixed for you please close this issue.

[2021-08-25 15:41] timtas commented on #3702
Yes, if you're on debian/ubuntu, it's only that. plus ca 100 MB of binaries and libraries. If you however compile your system yourself and have otherwise no use for inkscape, things look a bit different. You first have to compile the otherwise never used gtkmm2 and then inkscape, all just for converting those few svg's to png's.

I'm not complaining all that much (I have my workaround in place), I

[2021-08-25 15:42] Slater91 commented on #2573
Yes, I am using KDE Plasma. The problem is that the password prompt doesn't appear, for whatever reason (bug in Plasma?), but Nextcloud displays a warning about the session being invalid and the need to re-login. It seems like Nextcloud doesn't wait for the password prompt to appear the way it does with manual login. I look forward to trying the fix!

[2021-08-25 16:38] jtagcat commented on #3506
Setting up a new device, or starting a new project, building an **initial** cache.

Users have a 256G disk, and they tend to mark 'Always keep on device' for 1 TiB of data.

If you know you (or the user) is going to need files. Problem is, there is not enough local storage to keep everything 'Always keep on this device'.

***

Simplified example. You _plan_ to view 300 images from a folder. You se

[2021-08-25 16:53] BJKle commented on #3702
I like @timtas solution. I deinstalled inkscape and installed "brew install librsvg" with the above mentioned workaround.

[2021-08-26 07:50] mgallien opened #3716 "Release 3.3.2"
### :memo: TO DO
 - [x] :arrow_up: Bump VERSION.cmake to 3.3.2 and doc/conf.py (release to 3.3.2) in the corresponding stable branch
 - [x] :label: Create tag from corresponding stable branch on the commit introducing the version bump
[code]
- [x] :label: Create tag from corresponding stable branch in client-building. Steps to create the tag are the same as the above.
- :factory: Trigger the build

[2021-08-26 16:54] svenb1234 opened #3720 "VFS sync never finishes, network connection times out"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-08-27 12:58] jimmyfi opened #3721 "Windows installer does not work properly"
I've been trying upgrade my nextcould windows client to latest version but they seem to crash to errors 2503 and 2502.

`Product: Nextcloud -- The installer has encountered an unexpected error installing this package. This may indicate a problem with this package. The error code is 2503. The arguments are: , , `

`Product: Nextcloud -- The installer has encountered an unexpected error installing t

[2021-08-28 07:13] radoeka commented on #3677
Does someone how the new [version 3.3.2](https://github.com/nextcloud/desktop/releases/tag/v3.3.2) is with respect to this issue?  Any improvement or no change at all?

[2021-08-28 07:45] eibex commented on #3143
Tested on 3.3.2 and it seems fixed

[2021-08-28 07:45] #3143 closed

[2021-08-28 08:30] Githopp192 commented on #3143
Tested it, too .. it's fast now like "Speedy Gonzales" - well done :-)

[2021-08-28 09:38] aleksip commented on #2659
It is a shame that an official release can only be built using this specific hard to change build system...

[2021-08-28 10:20] gtmadev commented on #3306
It's definitely broken. Tried installing with both native and linuxserver.io docker versions. All result in the same error. Disabled all browser plugins, Brave shields, etc. No joy.

I am surprised more people are not reporting this. I have been running Seafile for a long time and decided to take another look at Nextcloud. But it's just not stable.

[2021-08-28 10:50] Bockeman commented on #2467
Now upgraded to Client 3.3.2.  Still getting conflicts. Have debug archives of all conflicts since May 2021.
Is there anything we (users) can do to raise the priority of this or at least get a date when some progress might be made?

[2021-08-28 11:13] raboof opened #3722 "Cannot log in on Linux without org.freedesktop.secrets"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-08-28 15:20] cgzones opened #3723 "Usage of private Qt class QZipWriter"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

The GUI u

[2021-08-29 05:09] pnwwebworks commented on #3487
All appears to be fine in 3.3.1.

[2021-08-29 05:09] #3487 closed

[2021-08-29 05:37] MonkeysAreEvil commented on #3702
Actually, this also has become a problem on Gentoo and derivatives. The build process is sandboxed and inkspace seems to want to write tempfiles during the svg->png process. These tempfiles are outside the sandbox so the `mkostemp` call is caught and the install process fails. Similarly, I just patch the CMakeLists to use rsvg-convert but that's pretty hacky.

[code]

[2021-08-29 08:05] romkazor commented on #3677
3.3.2 fix problem for me!

[2021-08-29 08:58] radoeka commented on #3677
Can a developer (@FlexW ?) confirm that 3.3.2 has a fix for this issue?

I spotted this change:

[code]
Does this make it work indeed?

[2021-08-29 17:34] Pingger opened #3724 "Nextcloud Desktop tries to access server config"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-08-29 19:27] nabaco commented on #1203
@z0noxz - my main usecase is to run on a server where I don't have root privileges. So mounting anything is out of scope.
I did try unison in the past, but did not like the results. Not to mention the OCaml version issues headache.
Furthermore, will using such utilities bypass meta-data updates, such as file history?

[2021-08-29 19:33] Mexx77 commented on #3722
have the same issue. Uploaded my full log file and a screenshot here https://bugs.archlinux.org/task/71920

[2021-08-29 22:53] bstin commented on #3707
I was having this same issue. Turns out was the wrong setting in config.php

I am running behind a reverse proxy (nginx). Originally I had the following lines:

[code]
With the above I was receiving the error you outlined. However when I changed to below, now it works (ie. use the local IP address, not public facing name).
[code]

[2021-08-29 23:40] porelli commented on #3707
Thank you @bstin!

I confirm that it was the problem for me. Not sure why everything was working fine with the previous versions...
For reference, the option NEXTCLOUD_OVERWRITEPROTOCOL for the docker container was added as part of [this pull](https://github.com/nextcloud/docker/pull/819). In case you use a dedicated volume ([as per persistent data instructions](https://hub.docker.com/_/nextcloud)

[2021-08-30 00:02] divo1 commented on #3707
@bstin Now I have something like this:
[code]

If I change `overwrite.cli.url` to local IP address then the browser will not try to use this as url?

[2021-08-30 00:09] bstin commented on #3707
Its confusing.

It seems this setting is for "local cli tools" (like occ, cron.php, etc). So I don't fully understand why this would cause logging in from client to fail? Perhaps during the client initiation process, it relies on `occ` in someway to register the new connection?

In any case, if you are running behind a proxy it seems like this should always be the local IP address, since you would

[2021-08-30 00:14] porelli commented on #3707
@divo1 if it can be any helpful, I have the same URL I use for the nginx reverse proxy. Meaning it's http://<local_address>:<internal_port>

I didn't configure it manually, some script of the docker container did. I also have another container with the same image running cron, everything works fine.
In my case, the problem was caused by the 'overwriteprotocol' option that was completely missing. A

[2021-08-30 00:24] divo1 commented on #3707
@bstin Thanks for your response :) I check server and nextcloud configuration. After few changes now I think it works :)

I remove this configurations:
[code]

I had also apache with different default virtual host. So when I curl to localhost without host name it show default apache site.

Now everything works ok. Thanks guys! :)

[2021-08-30 00:25] #3707 closed

[2021-08-30 01:39] d235j commented on #3677
No, that change does not fix this on 3.3.2.

@FlexW:
I believe that 02e518381cd852591ab5f47ece48bcaaf405988b has a subtle bug in it. Both my dav_user and my webflow_user are identical and set correctly.

[2021-08-30 01:44] damiankaczkowski opened #3725 "Desktop Client does not process dir deletion during non related file lock warning"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-08-30 03:06] d235j commented on #3677
The cause of the issue is that the instantiation of a new `WebFlowCredentials` at https://github.com/nextcloud/desktop/blob/30d1c707a982812de80d30b537cd607e6792ce14/src/gui/wizard/flow2authwidget.cpp#L111

breaks the `urlCatched` slot connection at
https://github.com/nextcloud/desktop/blob/0c8ed85156d13fdf6c6fe54a5187b9f04c089779/src/gui/creds/webflowcredentials.cpp#L171

[2021-08-30 07:14] 15bart15 commented on #3677
3.3.2 does not fix the problem
@d235j Maybe you're right. But it's too complicate for me 😂

[2021-08-30 07:15] Pouet78 commented on #3716
Even if this release is few days old, the website (https://nextcloud.com/install/#install-clients) still links to the previous one.

[2021-08-30 07:51] JMoVS commented on #3354
I have since changed my setup and can no longer easily test

[2021-08-30 07:52] JMoVS commented on #3354
to reproduce, one could try to put the nextcloud syncing folder directly in a disk so that the disk would have a .fsevents folder and hence would allow to test if exclusion now works

[2021-08-30 08:37] #1778 closed

[2021-08-30 08:49] claell opened #3726 "Latest update (to 3.3.2) crashed Windows Explorer for me"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-08-30 08:51] claell commented on #3726
I think the crash happened right after the installation window disappeared. Possibly when the client was started again.

Currently, my network connection is not stable, but not sure whether that is related.

[2021-08-30 10:21] #3306 closed

[2021-08-30 11:33] radoeka commented on #3677
@d235j For some people it works for other it does not work.  Is that possible?

What next to get this issue resolved, for the ones that suffer from it?

[2021-08-30 11:44] d235j commented on #3677
@radoeka If a user is already logged in, this issue won't happen until/unless that user logs out and then tries to log back in. Likewise I believe that use of a different authentication method might bypass this code, but I'm not sufficiently familiar with the codebase to say.

This is a specific issue with 3.3.1 and 3.3.2, and it would affect all users authenticating in this way. If a similar issu

[2021-08-30 12:10] d235j commented on #3677
I just tested #3727 and it does fix this issue.

[2021-08-30 12:21] d235j commented on #2659
@FlexW Where do things currently stand regarding M1 support?

Official Qt support for M1 has arrived in Qt 6.2, which is in a preview release at the moment. Qt 5.15.4 has support as well, but this requires a commercial license. There are patches available as part of Homebrew, but they do not fix QtWebEngine.
If someone grabs a version of Qt that is compiled universal, all that should be necessary

[2021-08-30 12:26] d235j commented on #3724
Is there anything pertinent in the client logfile? If your clocks are synced, look for activity around the same timestamps.

[2021-08-30 15:40] claell commented on #3524
(Why is the `needs info` label removed by the bot?)

[2021-08-30 15:40] claell commented on #3524
No, I haven't sent logs already. Will prepare them, thanks for getting back @mgallien!

[2021-08-30 15:42] claell commented on #3584
Push

[2021-08-30 15:48] claell commented on #3657
Are this and #3658 already possible for downloading files? If not, that might also be useful in that direction.

[2021-08-30 15:49] claell commented on #3657
Are this and #3658 already possible for downloading files? If not, that might also be useful in that direction.

[2021-08-30 15:50] claell commented on #3657
Are this and #3658 already available for downloading files? If not, that might also be useful in that direction.

[2021-08-30 16:24] mgallien commented on #3716
all is done now, closing

[2021-08-30 16:24] #3716 closed

[2021-08-30 16:28] mgallien commented on #3724
Can you please send us the log of the desktop client with the access to the config file ?
Without that I fear I am unable to reproduce and will be unable to fix that.

[2021-08-30 16:30] d235j commented on #3724
@Pingger if you can't send the entire log, please send the pertinent lines. Look for lines with timestamps that match those in the server log.

[2021-08-30 16:32] lfcoml opened #3728 "Windows Client Crashes during Sync version 3.3.2"
I have seen folks write about this issue with syncing. I still haven't seen a fix for this issue. I have done a clean install. I have followed some of the posted and removed Nextcloud data from the "apps" directories. I have installed the newest version 3.3.2.
I even created a new account just to see if it was a user issue. Nothing!

Does anyone have a fix for this? I'm behind lost on how to fix t

[2021-08-30 16:37] lfcoml commented on #3568
Same issue!

[2021-08-30 16:39] mgallien commented on #1203
I am going to close this since the latest version of the AppImage is bundling the nextcloudcmd executable and appimage provide a way to run this without needing elevated privileges.
I guess the easiest way is to do this
[code]
I guess we have no other way to distribute nextcloudcmd alone and in a way that is maintainable by us and compatible with our current process.

[2021-08-30 16:39] #1203 closed

[2021-08-30 17:03] azon2111 commented on #3687
I uploaded this a little while back, was it any help in solving the mystery ?

[2021-08-30 17:15] Pingger commented on #3724
Unfortunately it is not easy to reproduce and Nextcloud Desktop deleted its logs older than 1 day ... I'll try to get back to you once it reoccurs

[2021-08-30 18:35] ostpol commented on #3726
On my machines Windows Explorer is crashing during/right after uninstalling with

`msiexec /x $ProductCode /qn /norestart`

It doesn't happen, when it get's uninstalled manually via Apps and Features.

[2021-08-30 19:07] d235j commented on #501
This is not resolved. On the MacBook Pro (15-inch or 17-inch, Mid 2010), this problem still happens.

I would expect this problem to go away entirely if a build without QtWebEngine was used on these Macs.

[2021-08-30 23:41] tb102122 opened #3730 "Login polling does not work with latest client"
### Expected behaviour
Login should get the connection details correct but the Client Sync is not starting even the login vie the browser was successful.

### Actual behaviour
Client polling Windows stays open and does not get the successful login.

### Steps to reproduce
1. Install new client
2. stop client
3. logout/change user password
3. start client
4. login via browser window: "Account conne

[2021-08-31 06:32] damiankaczkowski opened #3731 "Desktop Client crashes due to Windows Defender deny action on synced file"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-08-31 06:38] zlydk commented on #3499
See also https://github.com/nextcloud/desktop/issues/3244 for further discussion and requests on syncing .lnk files again.

[2021-08-31 08:15] claell commented on #3728
A log might provide helpful details.

[2021-08-31 08:27] claell commented on #3730
Can confirm the behavior. This makes using the connection impossible in this state if I am correct.

Ping @allexzander @FlexW @mgallien

[2021-08-31 08:30] tb102122 commented on #3730
@claell Yes correct, the only work around of now is using the client with version 3.2.x

[2021-08-31 08:35] JBM888 commented on #3704
I'm experiencing the same issue after change of password for security reasons and upgrade of client to Version 3.3.2 (Windows) from . I'm on NextCloud 20.0.12.

[2021-08-31 08:40] mgallien commented on #501
with regard to the Mac support our plan is to switch to a newer version of Qt that has native support for all architecture used by Macs
at this point we can revisit what would be needed to improve the situation on Macs

[2021-08-31 08:48] claell commented on #3730
@tb102122 Hm, I thought that I just got it to work with 3.3.1. Are you sure you need 3.2.x?

[2021-08-31 08:58] JMoVS opened #3732 "Mac OS update notification is not clickable"
### Expected behaviour
Notification of update shows a url link - I expect to open that url to download a new version by clicking on that link.

### Actual behaviour
Notification shows the download URL with no way of clicking or copying it:

![grafik](https://user-images.githubusercontent.com/7354506/131473528-f9645df3-deda-4798-b383-c74ec90bb5e5.png)

<img width="346" alt="grafik" src="https://use

[2021-08-31 09:12] mgallien commented on #3725
@damiankaczkowski can you also sends us the log of your files client when you run into this problem ?
that would be really helpful

[2021-08-31 09:19] mgallien commented on #3354
I guess the plan is rather to forbid usage of a disc root folder.
That is already impossible with virtual files on Windows and seems like Mac OS would benefit from that also.

[2021-08-31 09:32] mgallien commented on #2659
@FlexW more or less has working builds with universal binaries but our process are not yet ready to publish them
we will do as soon as we manage to do it reliably

[2021-08-31 09:32] zokradonh commented on #3726
While my explorer bar on the bottom was missing I could see in the task manager that the explorer.exe process was running (still?). Maybe it was a new explorer.exe process with administrator privileges(incorrectly started by setup maybe) that will never behave as Windows-Shell and therefore no task bar?

After this crashed explorer update I now have problems with windows UWP apps (calculator, snip

[2021-08-31 09:33] mgallien commented on #3584
@getle87 can you test again with latest release ?
in case this is still broken, can you share your desktop client log ?

[2021-08-31 09:34] mgallien commented on #3657
download optimizations will come as a later step

[2021-08-31 09:38] tb102122 commented on #3730
@claell No it does not work in my case.

[2021-08-31 09:39] JBM888 commented on #3704
I decided to do a little testing and may have found a way to move back to version 3.3.0 which from the looks of things seem to work as it should when, as in my case, a change of password forces the user to re-authenticate by login in again. I know run the **Windows Nextcloud Client** ver 3.3.0 x64 again and so far haven't seen any issues, perhaps due to lack of extensive testing... How this would

[2021-08-31 10:05] JMoVS commented on #3354
also an option ;-)

[2021-08-31 10:16] mgallien commented on #3731
@damiankaczkowski I cannot reproduce the error during download of a [file that is detected by Windows defender](https://www.amtso.org/feature-settings-check-download-of-malware/)
which Windows configuration option did you turn on that would help me reproduce your crash ?

[2021-08-31 10:44] mgallien commented on #3723
On Debian Qt5Gui Private component is provided by package qtbase5-private-dev
you can see when adding `find_package(Qt5Gui REQUIRED COMPONENTS Private)` within a cmake project.

For simplicity the Debian packagers choose to build the desktop client with usage of private APIs to avoid the need to rebuild the desktop client when they update Qt. That is their choice.

Using another method to write zi

[2021-08-31 10:51] mgallien commented on #3732
from my understanding this is a limitation of the way we show notifications on at least Mac OS and Linux desktops
we would need to improve this but this is a feature request

[2021-08-31 10:57] mgallien commented on #3721
can you test again against the latest release (3.3.2) ?

[2021-08-31 10:59] mgallien commented on #3670
Makes plenty of sense

[2021-08-31 11:01] mgallien commented on #3444
Do you have any information that could help understanding why the files could not be created ?

The idea is that to improve reliability we can always make it try again but that would only partially solve your problem.After all you want your files ?

[2021-08-31 11:07] mgallien commented on #3633
I cannot reproduce it from a master build.
Could you share logs of your desktop client ?
The best would be that you disable the automated checking of update from settings dialog than close and start again the application.

[2021-08-31 11:07] claell commented on #3726
@zokradonh Snipping tool works fine for me.

[2021-08-31 11:10] claell opened #3733 "Resizing the window when adding an account flips the "virtual drive" option to the bottom of the list"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-08-31 11:11] claell commented on #3733
Should be very easy to reproduce. If not or if it is not clear what I mean, let me know, and I will provide further details.

[2021-08-31 11:15] mgallien commented on #3605
@Milokita we have fixed a bug related to file renames in our latest release
can you test with 3.3.2 ?

[2021-08-31 11:24] americodias commented on #1773
I have this issue! Nextcloud server and clients are the latest versions (Server 21.0.4.1, Client 3.3.1 MacOS and 3.3.2 Windows).

[2021-08-31 11:24] mgallien commented on #3733
can confirm that I can reproduce

[2021-08-31 11:37] mgallien commented on #3722
I can reproduce that without any backend detected by QtKeychain teh desktop client will fail to login when starting once the account has been fully setup.

[2021-08-31 11:39] mgallien commented on #3515
could you please test again with 3.3.2 because we fixed a bug related to rename ?

[2021-08-31 11:42] mgallien commented on #3568
could you share your logs ?
that would be helpful to understand the problem

[2021-08-31 13:30] #3702 closed

[2021-08-31 14:09] jimmyfi commented on #3721
Yes. Same happens with 3.3.2

[2021-08-31 15:07] damiankaczkowski commented on #3731
Only local account connected to Windows AD. No Office365 account on Windows thus I think all cloud protection options are Disabled.

Scan Options: Quick scan
Virus & threar protection settings
 - Real-time protection: On
 - Cloud-delivery protection - Off
 - Automatic sample submission - Off
 - Tamper Protection - Off

Ransomware protection
  - Controlled folder access - Off

Firewall:
 - Domain,

[2021-08-31 15:15] damiankaczkowski commented on #3725
Logs were like 200MB in a single file... I have looked at them but did not spot anything much interesting.... It was 100% reproducible in my case so I thought that good simple 100% reproducible guide would be better than tons of logs. Did you try to reproduce it? Does it reproduce in your case or not?

[2021-08-31 15:59] mgallien commented on #3731
thanks @damiankaczkowski

[2021-08-31 15:59] mgallien commented on #3721
@jimmyfi thanks for the test

[2021-08-31 19:35] ringe commented on #2669
@er-vin Doesn't this bug deserve a closer look than getting stale?

We are providing private Nextcloud instances as a service, and some customers are suffering.

Are there any ways to optimize first sync?
Now it's doing PROPFIND HTTP requests for every. Single. File. and it takes waaay too long to be usable.

[2021-08-31 21:55] LaserKaspar opened #3734 "App Crashes while trying to sync special non-english characters (eg. ä, ö ü, ß)"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status changes and new comments.

### Expe

[2021-09-01 01:05] d235j commented on #2659
@mgallien thanks. What kind of reliability problems are you having?

[2021-09-01 07:28] LukasReschke opened #3735 "Automatic updater on windows trains users to click Yes"
We got the following as HackerOne submission ([#1325350](https://hackerone.com/reports/1325350)):

In short she was concerned about the name 35e4e.msi doesn't sound like a legit program. Nor did she had any idea what actually was trying to update.

![Screenshot_from_2021-08-31_11-04-03](https://user-images.githubusercontent.com/878997/131630045-de333a88-b99d-4b43-9635-da70a63b98cb.png)

This looks

[2021-09-01 08:37] #3575 closed

[2021-09-01 10:07] mgallien commented on #2669
if you really need support from Nextcloud company you would need to get an [enterprise subscription](https://nextcloud.com/enterprise/)

the support on github is done as a best effort without any guarantee

speaking of this ticket it got closed automatically due to inactivity

please provide logs to help us analyze what is going wrong for you ?

I am going to reopen

[2021-09-01 10:13] ringe commented on #2669
Thanks @mgallien, I appreciate the reopening.

This is not a support issue, it's a critical bug that makes Nextcloud practically unusable.

Barring a major improvement on this issue, I will need to reconsider using Nextcloud as a primary storage for customers that have huge shared document structures.

I have shared the client logs and will share the server log as well.

[2021-09-01 10:14] ringe commented on #2669
I believe it's the looping over every file that's the culprit.

[2021-09-01 10:24] mgallien commented on #3428
@KGremmer @mhoffmann75
sorry that nobody humans really looked at this ticket when you commented here
can you still reproduce that bug ?
in case you can, may I ask you to try with the latest release (3.3.2 now) and share your logs ?

[2021-09-01 10:58] AditiThirdEye commented on #3668
Hello @FlexW , @mgallien
I would like to contribute to this thread, can you please suggest which approach would be the best to implement the same.
Regards,
Aditi

[2021-09-01 11:00] AditiThirdEye commented on #3668
Hello @FlexW , @mgallien ,
If the PR has not been done yet, can I work on this thread?

Regards,
Aditi

[2021-09-01 11:41] mgallien commented on #3735
@LukasReschke the MSI windows installer is built of two parts

- first one does not need privileges and is responsible of letting the user configure the install (first stage installer named `Nextcloud-3.3.2-x64.msi` for example)
- second one requires elevated privileges and before starting it the usual Windows warning popup will be shown (second stage installer generated by the MSI toolchain with

[2021-09-01 14:54] mhoffmann75 commented on #3428
Thanks for the reopening. With desktop client 3.3.2 (macOS) against nextcloud server 21.0.4 and federated remote side being nextcloud 20.x the bug is still present. I will report back after updating remote side.

[2021-09-01 15:30] danielpngr commented on #3726
i got the same issue... after killing nextcloud in the taskmanager the freeze stops and everything works fine

[2021-09-01 16:03] Syntax3rror404 commented on #2659
I also waiting for a native Nextcloud m1 binary. Many Apps have currently a native m1 support.

[2021-09-01 16:05] Syntax3rror404 commented on #2659
This issue has been so long, why doesn't Nextcloud notice that it's an essential feature?

[2021-09-01 17:01] d235j commented on #2659
@Syntax3rror404 It has been taking a while for Qt to get official support, and Nextcloud depends on Qt. While there are unofficial patches to Qt, Nextcloud may not want to use these as they may have reliability problems.

Qt 6.2, which will have full support for Intel and M1, is slated for release sometime in the next month or two.

[2021-09-01 23:03] tb102122 commented on #3730
@mgallien When do you expect that the version with the bug fix can be released?

[2021-09-02 07:02] KGremmer commented on #3428
I think there is no Bug in the Client, because you cant even download the txt-files correctly from the browser.
For me its a bug in the Nextcloud-Core or in the Federation-Plugin.
I uploaded the Debug Logs to nextcloud/server#24026

[2021-09-02 07:37] mgallien commented on #3734
I failed to reproduce despite testing with a lot of different scenario.
Could you please try the following steps to help me understand what is going on ?

1. Clear your existing log files (usually located in c:\Users\<login ID>\AppData\Roaming\Nextcloud\logs
2. Do the necessary tasks to reproduce teh crash and do only this
3. Send me the updated logs with a description of your actions (especially

[2021-09-02 07:44] mgallien commented on #3728
Please open a different issue and provide more context in your logs or we will never be able to understand how to fix that error

[2021-09-02 09:16] mgallien commented on #3668
Hello Aditi feel free to contribute by opening a PR
you can find some documentation on our workflow here [wiki](https://github.com/nextcloud/desktop/wiki)
especially the page about [Pull requests](https://github.com/nextcloud/desktop/wiki/How-to-manage-pull-requests)

[2021-09-02 09:18] mgallien commented on #3730
@tb102122
current plan is to finish the review and then the release should happen at the end of the month

[2021-09-02 09:21] mgallien commented on #3428
thanks @KGremmer

[2021-09-02 10:59] Thatoo commented on #168
@TheAssassin and @antony-jr could you help us with this PR : https://github.com/nextcloud/desktop/pull/3736#issuecomment-911292975 ?

[2021-09-02 13:09] getle87 commented on #3584
I have set up a test environment (3 nc servers for federation tests, 2 clients) for further tests with this an other issues. The problem still persists in version 3.2.2. I attached 4 screenshot and the debug archive (zip file).

virtual file:
![vfs_file](https://user-images.githubusercontent.com/58705292/131847517-7bfe1de5-721b-4bdb-9cef-38fa8ee60acf.png)
local file
![local_file](https://user-imag

[2021-09-02 13:21] affinityv commented on #2991
I think we all know HOW to check the signature and verify it, the problem is that the public key isn't published and/or able to be found.  Has this changed?

[2021-09-02 13:53] FlexW commented on #3735
The naming issue is a duplicate of https://github.com/nextcloud/desktop/issues/2947

[2021-09-02 19:16] claell commented on #3730
@mgallien I hope this is not meant seriously. I am having a really hard time to understand how such an annoying and trust destroying problem affecting many users (look at the votes on the corresponding issues for the PR) will remain unfixed for users for another month.

Nextcloud always used to be prone to bugs and stuff like this, but as a user, I'd really like to have those issues handled better

[2021-09-02 19:23] d235j commented on #3735
Another method that software uses is the installation of a system service for updating the software. Google Chrome and Mozilla Firefox, among others, take this approach.

This is generally considered a terrible idea as it opens the system to easy installation of malicious software.

Does the automatic updater tell the user that it is about to update? If the updater requires elevation to apply the

[2021-09-02 19:27] claell commented on #3735
Hm, I thought (or hoped) that it would work to have one software (already installed Nextcloud client) with elevated privileges that can then easily start other software (the installer) with elevated privileges as well without having to ask again.

[2021-09-02 19:30] d235j commented on #3735
The software would have to install a system service at installation time. That's what most Windows software that is installed system-wide and comes with a user-runnable auto-updater does. This adds complexity.

While the Nextcloud client is installed with elevated privileges, it does not run with elevated privileges — this would be a security problem. In general, designing secure auto-updaters tha

[2021-09-02 19:35] claell commented on #3735
Got it. So the best option is probably to leave the situation of the dialog as is and improve the name (and possibly also the app symbol shown in the warning).

Maybe one can also create an issue to allow the installation to a user directory, which in those cases would not require elevated privileges to update, as @mgallien pointed out.

[2021-09-03 08:43] kangaroo72 opened #3738 "Nextcloud-Client always need access granted - Ubuntu Budgie 21.04"
Hi team,

apologize for raising that issue, but I cannot find a solution...
My client (based on official ppa) always askes for granting access via Browser.

I'm on Ubuntu Budgie 21.04.

Can anyone help, please? Thanks - Tom-

[2021-09-03 08:47] isdnfan commented on #3444
@mgallien I don't get your point. I have no idea what caused the problem. I remember at this time the client was unstable - it was eating CPU, created huge local DB files, actions in the UI lagged. I'm sure I killed the client multiple times, additionally I might have stopped some action when I suspended the PC when it was in the middle of some operation. as a result VFS was broken (placeholder fi

[2021-09-03 09:23] #3677 closed

[2021-09-03 09:23] #3704 closed

[2021-09-03 09:23] #3730 closed

[2021-09-03 09:38] FlexW opened #3740 "Release 3.3.3"
### :memo: TO DO
 - [x] :arrow_up: Bump VERSION.cmake to 3.3.3 and doc/conf.py (release to 3.3.3) in the corresponding stable branch
 - [x] :label: Create tag from corresponding stable branch on the commit introducing the version bump
[code]
- [x] :label: Create tag from corresponding stable branch in client-building. Steps to create the tag are the same as the above.
- :factory: Trigger the build

[2021-09-03 09:38] florianhofhammer opened #3741 "Unix timestamp set to 1970-01-01 01:00:00 causes constant re-sync"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-09-03 10:43] getle87 opened #3743 "Nextcloud Desktop client crashes when sharing a file or folder to a remote server via the context menu"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-09-03 11:04] FlexW commented on #3738
Which version are you using?

[2021-09-03 11:14] kangaroo72 commented on #3738
It's Version 3.3.2 (Ubuntu)

[2021-09-03 12:07] claell commented on #3740
I hope this means we can expect a fix for issues like this https://github.com/nextcloud/desktop/issues/3730#issuecomment-911981888 a bit sooner than in about a month?

[2021-09-03 12:10] FlexW commented on #3740
This release contains only a fix for this issue. Nothing more ;)

[2021-09-03 12:16] claell opened #3744 "Tests for #3727"
Since I don't think it has been created already: This is a follow-up issue from #3727, so it is kept in mind. Might require #3710.

Not sure how the plan is for this, or whether it is seen as technical debt (vs. nice to have).

[2021-09-03 12:21] claell opened #3745 "German translation for title of file conflict window has a typo"
Just a quick issue so it is not forgotten.

[2021-09-03 12:44] #3740 closed

[2021-09-03 13:05] vasyugan commented on #81
And why this is just a nuissance for us, it is a real problem with many of my non tech savvy users. Their client is suddenly disconnected from the server, on Windows the systray icon is typically hidden, so they don't even notice that the icon has changed to gray, and many of them wouldn't even understand what this means. We really need the client to handle this intelligently in the background.

[2021-09-03 13:44] d235j commented on #3735
I would much rather see this implemented by allowing for a portable installation that can link itself into the Startup folder rather than installing itself into the AppData folder, but either way would work.

[2021-09-03 14:08] detoxhby commented on #3222
@mgallien we are having a pretty busy period atm but will post the information on the forum laster (at least end of 21Q4) to help people 👍🏻

[2021-09-03 14:08] #3222 closed

[2021-09-03 16:56] #3587 closed

[2021-09-03 20:33] franga2000 commented on #3406
I'd like to take a crack at implementing this when I get the time, so here's a few preemptive questions for the maintainers:

 1. Should this also be done for Windows? (logging moved to `QStandardPaths::AppLocalDataLocation` == `~\AppData\Local\` instead of `Roaming`)
 2. Since there isn't a `QStandardPaths` entry for `XDG_STATE_HOME` (the spec is quite new) and most environments don't "implement"

[2021-09-03 23:59] d235j commented on #3694
Does this still happen with 3.3.3 or later?

[2021-09-03 23:59] d235j commented on #3722
Does this still happen with 3.3.3 or later?

[2021-09-04 07:30] splitt3r commented on #2947
It also misses the Nextcloud icon which would make it a bit more recognizable.

[2021-09-04 12:16] TheThief commented on #3562
If anyone's stuck with a nextcloud folder full of VFS placeholders that they can't delete, you just need the following powershell:

[code]

(Replace the path with your nextcloud folder path)

[2021-09-04 22:08] bossanovaorca commented on #3399
just ran into this while updating to 3.3.2

[2021-09-05 06:54] jimmyfi commented on #3721
Just tested on windows version 2004 upgrade worked just fine :)

[2021-09-05 11:30] philippgs commented on #3399
Happened to me for several updates of the client, including the latest 3.3.3. `explorer.exe` gets shutdown but not re-started and when started manually via the task manager, it crash-loops until reboot. Explorer integration is enabled.

[2021-09-05 16:01] getle87 commented on #3743
The problem persists in version 3.3.3

[2021-09-05 16:05] getle87 commented on #3584
The problem still persists in version 3.3.3

[2021-09-05 16:36] ImanuelBertrand commented on #3444
I'm currently experiencing the same problem. Two days ago, the client (3.3.2 on Windows 10, "wincfapi" used for virtual files) deleted 12.000 files, ~55GB in total.
They are still in the trashbin, so they are not completely lost, but restoring them via the web frontend is 1. not feasible and 2. didn't work because of file locking exceptions (I'm using Redis for file locks in case that's relevant).

[2021-09-05 18:53] isdnfan commented on #3444
thank you @ImanuelBertrand showing the issue exists on new versions as well. Do you have any idea what might be the root cause why placeholder files failed to create? did you recognize any atypical pattern, any issues (maybe with other programs)? something interesting in the windows eventlogs?

[2021-09-05 19:44] svenb1234 commented on #3444
This is not true if a server was migrated, then the client knows better what was added/removed. However I agree that avoiding data loss is the main objective. Thus files should be kept on the server if one cannot be 100% sure deleting them was triggered by the user.

Adding files or keeping them by mistake is a lot less of a problem compared to silently deleting files.

[2021-09-05 19:45] ImanuelBertrand commented on #3444
I remember nothing atypical.

2021-09-03 23:25:15 +0200: EL: System booted
2021-09-03 23:25:16 +0200: EL: Error related to Microsoft Wi-Fi Direct Virtual Adapter
2021-09-03 23:25:25 +0200: EL: Windows complained about an incorrect license key (fixed in the meantime)
2021-09-03 23:25:25 +0200: EL: Many entries of "Die Anmeldeinformationen in der Anmeldeinformationsverwaltung wurden gelesen." - some

[2021-09-06 06:06] holzfelix opened #3748 "nextcloud does not delete files"
### Expected behaviour
An important function of Nextcloud no longer seems to work in version 3.3.3. Both in the Mac and in the Windows client.

If you exclude a folder from synchronisation, it is no longer deleted from the PC but remains. This means that no memory space is released.

Is the problem known? What could be the cause?
### Actual behaviour
Tell us what happens instead

### Steps to repr

[2021-09-06 06:29] arthausart commented on #3728
да после удаления файлов ._sync все заработало !

[2021-09-06 06:48] allexzander opened #3749 "Directories and files with trailing space aren't syned to Windows"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-09-06 08:54] loufidelity commented on #3399
I had a similar problem for two of the latest updates now. For example today when updating to 3.3.3.

After update, Windows taskbar is gone and explorer doesn't restart. I can still alt-tab to some of the open apps. When starting explorer manually from Task Manager, windows task bar appears but is flashing about every second. Seems that explorer is in a crash loop. Rebooting the computer works.

[2021-09-06 09:23] peeter123 commented on #1448
I found a workaround by placing opengl32.dll from the MESA windows builds (https://github.com/pal1000/mesa-dist-win/releases/) in the Nextcloud installation directory.

[2021-09-06 09:28] allexzander commented on #3749
@tobiasKaminsky

We could fix it in multiple ways, but, need some design on how this should be implemented. Maybe @jancborchardt or @nimisha-vijay have ideas.

One way is to allow a user to open a conflict resolution dialog when clicking any of the warning messages about files/folders with trailing space. The user will then be able to rename such items before syncing them and remove those that are

[2021-09-06 09:35] mgallien commented on #3721
@jimmyfi thanks for the test

[2021-09-06 09:44] FlexW opened #3751 "Add a dialog that allows the user to resolve naming conflicts"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you want to have the same feature implemented.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

[2021-09-06 09:54] FlexW commented on #3738
Did it work in the past? Is your keychain configure properly? We had some issues with login in the latest version. With version 3.3.3 everything should be resolved. Please try that version and see if everything works again.

[2021-09-06 10:34] jimmyfi commented on #3721
issue still is on on  21H1 (19043.1165) so its not closed yet

[2021-09-06 10:35] donnydark0 opened #3752 "Mac Menu Bar Icon Size"
The menu bar icon is too large. Please reduce the size to fit the other menu bar icons in MacOS Big Sur and Monterey.

[2021-09-06 10:38] jimmyfi commented on #3721
and version 3.3.3 has same error codes..

[2021-09-06 11:15] kangaroo72 commented on #3738
![image](https://user-images.githubusercontent.com/6906390/132208687-01ae19ee-9442-4dfd-b0f5-380a8c17093d.png)

now with 3.3.3 it looks fine :-)

The partially synchronization like in Windows isn't availlable in Linux?
![image](https://user-images.githubusercontent.com/6906390/132209118-ceb61265-3825-46fa-b205-a0cae86598f3.png)

[2021-09-06 11:53] FlexW commented on #3738
What do you mean with partially sync? Virtual files? That is only available on Linux as an experimental feature.

[2021-09-06 11:58] kangaroo72 commented on #3738
yes, virtual files!!

[2021-09-06 12:06] #3738 closed

[2021-09-06 12:08] FlexW commented on #3738
You need to install an extension for your file manager application. If you use budgie I guess you use nautilus. Then you need the nautilus extension. It seems like you are on a Ubuntu based distro so you can install it with:
`sudo apt install nautilus-nextcloud`

[2021-09-06 12:19] kangaroo72 commented on #3738
Ah cooooool - thx

[2021-09-06 13:23] mgallien commented on #3721
sorry opening again

[2021-09-06 13:34] mgallien commented on #3444
there is tow points in your reply

1. rest assured that we share your concerns about reliability and many of the changes done in versions 3.2 and 3.3 are done for that and unfortunately we are not yet done
2. I would like to also understand how to trigger that such that the trigger condition can be removed

my point is that any errors in the placeholder files creation will block sync and I guess t

[2021-09-06 13:53] ImanuelBertrand commented on #3444
They way I see it, blocking the sync would be preferable to deleting files. Of course that distinction is only relevant as long as the issue is not found and fixed.
I would have been grateful for a message like this: "Couldn't create placeholder info. Retry or proceed (proceeding will delete files on other devices)".
I mean, "grateful" would probably be an overstatement since it is still an error

[2021-09-06 13:57] mgallien commented on #3748
I cannot reproduce.
Can you share your logs ?
without logs we have no way to work on this

[2021-09-06 14:02] mgallien commented on #3399
what did you do when the installer is asking for a reboot at end of install ?
it happen that I have just done an upgrade from 3.3.2 to 3.3.3 without any troubles (but selected manually the process to kill when the installer asked me to do it)
I even skipped the popup asking for a reboot at the end

[2021-09-06 14:36] BJKle commented on #3752
Guess it is a duplicate of #3549.
It will disappear, with a native M1 build.

[2021-09-06 15:53] #3095 closed

[2021-09-06 16:03] mgallien commented on #3752
thanks for the hint
so closing due to being a duplicate indeed of #3549

[2021-09-06 16:04] mgallien commented on #3549
and we might need to do that at different sizes
I guess Breeze icon theme do it also for high DPI icons with a scaling factor of 2

[2021-09-06 16:57] #3326 closed

[2021-09-06 20:54] isdnfan commented on #3444
@mgallien

this is exactly what I suggest (at least as long the client works as it does now). because **not stopping** the sync results on files deleted on subsequent run.

@ImanuelBertrand

exactly: if you stop syncing and give the user good hint where/how to provide a bug report chances are higher you get the reports and data you are looking for.

silently going forward and removing files result

[2021-09-06 21:12] isdnfan commented on #3444
svenb1234

I only partially agree. In general we **must** consider the server as the most stable part. The scenario you show only works as long only one client is involved. what is if you have 5 clients? should **each** client move/add/change files only because the **local** data is different from the server? what if you restore the server for some reason?

there are lot of moving parts in the sys

[2021-09-06 21:20] tusooa opened #3755 "Files with non-ansi names not sync'd properly"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-09-07 05:40] elsiehupp commented on #3310
I just checked with the updated client:

* Client version: 3.3.3
* Operating system: macOS 11.5.2

<img width="616" alt="folder connection sheet" src="https://user-images.githubusercontent.com/9206310/132289782-5fceb0cb-3695-4b16-8963-0d0949bcf184.png">

I also came across [a potentially relevant tip](https://forum.qt.io/post/542991) on the Qt forums:

I haven't looked particularly closely at the

[2021-09-07 06:53] mgallien commented on #3310
My knowledge of macOS is not good enough. So is it easy to switch to dark mode ?
If yes, it means that we will be able to easily test and check if a fix is working.

@elsiehupp would you like to try working on this ? I guess you are impacted and we will make sure to find time to review your PR.

[2021-09-07 07:00] mgallien commented on #3755
Your log is full of errors like this one
[code]
I now that the desktop client is properly syncing files with many characters outside ANSI old limited character set.
If you need help configuring your system I would highly suggest to go to the [Nextcloud forum](https://help.nextcloud.com).
I am closing this since this is not a bug.

[2021-09-07 07:00] #3755 closed

[2021-09-07 07:17] elsiehupp commented on #3549
This is a duplicate of [a much older issue](https://github.com/nextcloud/desktop/issues/2584) and seems to be specifically a bug in the exact version of Qt used for Nextcloud’s CI builds. There is nothing wrong with the icon assets or the application code.

[2021-09-07 07:18] elsiehupp commented on #3752
This is also a duplicate of the much older #2584.

[2021-09-07 07:18] #3752 closed

[2021-09-07 07:26] elsiehupp commented on #3549
If you’re curious about the technical details, I actually dug into it a bit, and you can read more about it on the older issue.

macOS in particular uses raster assets for icons, both in the dock and in the “notification area” (the Mac name for the “system tray”), while using vector assets almost everywhere else. The problem is that after Apple increased the height of the menubar in macOS Big Sur,

[2021-09-07 07:26] #3549 closed

[2021-09-07 07:28] elsiehupp commented on #3310
Yes. It’s a simple toggle in System Preferences.

I’m quite rusty on this codebase, and I’ve been focusing on other things, so I probably won’t get to it soon. This particular issue is just a tiny little thing that got spun out of a larger issue regarding Dark Mode compatibility. I came across the forum comment I linked to somewhat randomly, and it took some doing to dig up this issue and post an

[2021-09-07 07:29] elsiehupp commented on #2994
Copying from #3310:

I also came across [a potentially relevant tip](https://forum.qt.io/post/542991) on the Qt forums:

I haven't looked particularly closely at the issue recently, but it seems like there are still some quirks in how Qt supports macOS Dark Mode.

[2021-09-07 07:37] raboof commented on #3722
Confirmed this is fixed for me when switching to https://github.com/NixOS/nixpkgs/pull/136583 - great, thanks!

[2021-09-07 07:37] #3722 closed

[2021-09-07 08:12] AndyScherzinger commented on #3661
My issues, as discussed, on Windows:

* Wildcard in filenames ('*')
* Space at the end of a folder name like 'Name '
* Dot at the end of a folder like 'Name.'

[2021-09-07 08:49] FlexW commented on #3661
Thanks. Points one to three should be covered by #3751.  For point four I'm not sure we can do anything. Renaming is done by Windows and not the client. We can not prevent users from renaming files on their hard drive, but that should give anyway an error on Windows as the filename to which the file should be renamed does already exist.

[2021-09-07 10:29] jancborchardt commented on #3749
Since we are a multi-platform product, we should make sure that the files work multi-platform.
As far as I understand, regarding trailing spaces:
- You can not create a file like that on Windows, macOS, or in our web interface
- You can do so on certain Linux systems only

When testing with Ubuntu+Gnome as well as with our web interface, the trailing space was simply ignored, in creation as well a

[2021-09-07 10:38] jancborchardt opened #3758 "Unified search in tray menu"
Just like we have the unified search in the web interface, we also want to have it in the desktop client. On desktop you can of course already search through your files, events and contacts via native apps, this is not the case for Talk messages, Deck cards, Forms, etc.

Placement-wise, we could simply add a search field on the top of the activity list in the tray menu. This is a common pattern fr

[2021-09-07 10:49] tobiasKaminsky opened #3759 "Tray windows looks corrupted"
![image](https://user-images.githubusercontent.com/5836855/132332298-61bd450d-c750-4079-9385-11cdd62c3c2d.png)

Arch Linux
installed via package manager: 3.3.0 currently

Nvidia drivers 470.63.01

NVIDIA GeForce GTX 760 (GPU 0)
3840x1200 pixels (2120x331 millimeters)
46x92 dots per inch

Xorg:
Version Number: 11.0
Vendor version: 1.20.13 (12013000)

[2021-09-07 11:00] matt-horwood-mayden commented on #3408
I too get this (MacBook Pro (15-inch, 2017)), with both displaylink and displayport screens

main screen (external monitor) ![image](https://user-images.githubusercontent.com/17851531/132333834-77678c36-94b3-47ac-b3b2-805d80e92979.png)
Second screen (external monitor) ![image](https://user-images.githubusercontent.com/17851531/132333870-44d5ed3f-fedc-40c3-bfa8-9d49f27d8d08.png)

[2021-09-07 12:57] FlexW commented on #3749
For the record that is what DropBox does:

- Filenames with spaces on the end and beginning get trimmed before the sync.
- Files that might create case classes get marked with "(Case clash)" in their name, but no error is shown to the user.
- Files with special signs like ":" or "*" do not get any special attention. They just get synced but get not synced down to the Windows machine (NTFS file sys

[2021-09-07 14:58] tobiasKaminsky commented on #3758
API:
fetching providers: https://docs.nextcloud.com/server/latest/developer_manual/digging_deeper/search.html#fetching-provider-ids
fetching search results: https://docs.nextcloud.com/server/latest/developer_manual/digging_deeper/search.html#fetching-individual-search-results

[2021-09-07 15:25] AndyScherzinger commented on #3661
By renaming I rather thought about the rename coming from the server while I am not sure if this is a problem.

[2021-09-07 15:44] mgallien opened #3761 "Add new propagator algorithm to upload all files together"
Add a new propagator algorithm such that we can get all new files upload no matter in which directory they are as a single group of jobs to execute.
That would allow to send them all together or in batch grouped together.

[2021-09-07 15:44] mgallien commented on #3761
@tobiasKaminsky

[2021-09-07 15:45] mgallien opened #3762 "Add new upload job type to send multiple files together"
Add new upload job type to send multiple files together

[2021-09-07 15:45] mgallien commented on #3762
@tobiasKaminsky

[2021-09-07 19:17] davidbaumann commented on #3730
I am running NextCloud 20.0.11, connecting with the Windows 10 Client, I was able to work around the problem following way:

Install Desktop Version 3.3.0
Reboot. NextClound will not start, as the main .exe is missing.
Install again (repair installation)

Now you can log in.

[2021-09-07 23:45] dahooz commented on #3456
I have an observation that might help finding the reason for this issue.

For me, this problem occurs with version 3.3.2 on Windows for .tex files when using TeXStudio. The process is as follows:

1. I save a tex file from TeXStudio in some subfolder of the nextcloud sync folder, which is set to "virtual-mode".
2. after some seconds, Nextcloud Client notes the change and initiates sync (it must up

[2021-09-08 03:27] tusooa commented on #3755
This IS indeed a bug.

Using the same strategy described in https://bugs.kde.org/show_bug.cgi?id=432406 (overriding `ucnv_getDefaultName()` to call `std::terminate()`), I got such a backtrace.

[code]

Note that there is NO main() call here -- this means the `ucnv_getDefaultName()` call is *earlier* than the `QCoreApplication` initializer, and *that* is causing `QTextCodec::codecForLocale()` to re

[2021-09-08 03:57] jimmyfi commented on #3721
I did more testing and tried to uninstall the 3.3.0 and still got those two errors that are on the first topic.. not really sure how to fix this (reinstalling windows is not an option;D) :/

[2021-09-08 03:59] tusooa commented on #3755
gdb backtrace with debugging symbols, confirming that the `setStyle()` call ( https://github.com/nextcloud/desktop/blob/7e5f080e58f5c2074b9cfd417f1621204bd6f96c/src/gui/main.cpp#L62 ) is really causing the trouble.

[code]

[2021-09-08 07:01] tobiasKaminsky commented on #3102
@camilasan I post it here to not flood overview issue with Desktop-only info.

You can see here that the incoming note is missing:
![image](https://user-images.githubusercontent.com/5836855/132461278-86e78ee0-4522-442a-a962-33a96240f524.png)

A second/related problem is if the the other using disallowed resharing, then there is no way to show this at all.
(On Android we then still show the same vi

[2021-09-08 07:56] leuedaniel commented on #3568
Which log you mean? The log under \AppData\Roaming\Nextcloud\logs don't have any errors. The last entrys on my log was:
`2021-09-08 09:53:19:315 [ info nextcloud.sync.engine ]:	#### Reconcile (aboutToPropagate OK) ####################################################  13486 ms
2021-09-08 09:53:19:315 [ debug nextcloud.sync.database ]	[ OCC::SyncJournalDb::commitInternal ]:	Transaction commit "post

[2021-09-08 08:09] mgallien commented on #3759
This is directly running on bare metal ?
Could you check the version of Qt ?
I am not too familiar with Nvidia drivers but is there a way to force using Mesa. I tested forcing software rendering and it seems to work fine for me.
You would have to use `LIBGL_ALWAYS_SOFTWARE=1`.

[2021-09-08 08:09] FlexW commented on #3730
@davidbaumann try to install client 3.3.3. There was a bug in 3.3.0-3.3.2

[2021-09-08 08:40] mgallien commented on #3755
Proper backtrace
[code]

at that point I have this
[code]

I still fail to understand what is specific on your system to make it fail when I see nothing.

[2021-09-08 08:48] mgallien commented on #3568
@leuedaniel from your message, I fail to understand how this is related to the error encountered by @BungyStudios who no longer have a crash but other errors.
Better open a different issue and please put more context into your logs otherwise we cannot know what is going on.

[2021-09-08 09:34] tobiasKaminsky commented on #3759
QT 5.15.2

And as always…since I reported the bug I cannot reproduce it anymore, so closing…
If it happens again, I'll test mesa.

[2021-09-08 10:13] AqujZ1K9 commented on #3748
Dear @mgallien I'm uploading the logfiles for @holzfelix . There pretty big tho..

the client is producing Gigabytes on logfiles..

Here are the latest of them:

https://ifinfra.s3.eu-central-1.amazonaws.com/20210908_0955_owncloud.log.0
https://ifinfra.s3.eu-central-1.amazonaws.com/20210908_1004_owncloud.log.1

[2021-09-08 10:27] mgallien commented on #3759
I have another idea, did you suspend your laptop before you saw that ?
could you test because I think we are missing some fixes related to proper suspend handling related to Nvidia driver
see [Nvidia context loss events](http://blog.davidedmundson.co.uk/blog/plasma-rendering-handling-nvidia-context-loss/)

[2021-09-08 12:05] tobiasKaminsky commented on #3759
Yes, cool!
Now i can reproduce it.
If you need me to test something, I know how to run an AppImage 🤣

[2021-09-08 13:01] tusooa commented on #3755
What does your `locale` command give?

[2021-09-08 14:41] tusooa commented on #3755
Uh, I got this -- do you have `QT_LOCALE_IS_UTF8` definitions?

[code]

[2021-09-08 14:49] tusooa commented on #3755
From qt source code
[code]

[2021-09-08 17:12] claell commented on #3657
For my use case, download seems to be much more important. Usually, download network bandwidth is much higher than upload (thus the bottleneck often seems to be the file processing by Nextcloud) and when connecting new clients, the amount of files to download is also very high (while new files to upload mostly get added one by one / in less large batches).

[2021-09-08 18:43] radoeka commented on #3677
Can anyone that hit this bug, and have the recent released nextcloud-desktop installed (version 3.3.3) confirm that this version works OK. Thanks in Advance.

[2021-09-08 18:50] FlexW commented on #3759
Reading the article that @mgallien posted, the issue could be fixed with qt 5.15. @tobiasKaminsky could you try an daily app image and see if it's gone? because on master we use qt 5.15.

https://download.nextcloud.com/desktop/daily/Linux/

EDIT: Looks like the dailies there are too old. Seems like something got broken.

[2021-09-08 20:21] mkrecek234 opened #3766 "Pretty URL for right-click copy link"
If you right-click in Nexctcloud client for Mac, and copy a link (eg internal link), it will present it with index.php. However my installation has the adjustments as described in the doumentation for pretty Urls without index.php.

Would be nice if the client would support this optionally as well, eg by an expert switch in settings.

[2021-09-08 20:22] mkrecek234 opened #3767 "Write and read comments or activity log for a file by right-clicking"
Would be great if the Nextcloud client also offers to see and add comments for a file, by right clicking on the desktop.

[2021-09-08 20:26] mkrecek234 opened #3768 "Open file on desktop, not in browser"
Collaborators will send internal links to files to other people, who then open the link.
Files will then be opened in the browser.

BUT: If the user opening the link has a Nextcloud desktop client installed, the client should grab the Safari browser link and rather open the file on the PC if possible (eg a Word file will open Mac Word, and not Collabora Word).

Would be a killer feature for true a

[2021-09-09 07:39] mgallien commented on #3766
@mkrecek234 thanks for the suggestion
could you please add a link to the relevant server documentation ?

[2021-09-09 07:42] mgallien commented on #3768
Duplicate of #1321

[2021-09-09 07:42] #3768 closed

[2021-09-09 08:01] mgallien commented on #3755
See my backtrace a little bit before the first one
[code]

[2021-09-09 08:02] mgallien commented on #3755
LANG=fr_FR.UTF-8
LANGUAGE=en_US:fr
LC_CTYPE="fr_FR.UTF-8"
LC_NUMERIC="fr_FR.UTF-8"
LC_TIME="fr_FR.UTF-8"
LC_COLLATE="fr_FR.UTF-8"
LC_MONETARY="fr_FR.UTF-8"
LC_MESSAGES="fr_FR.UTF-8"
LC_PAPER="fr_FR.UTF-8"
LC_NAME="fr_FR.UTF-8"
LC_ADDRESS="fr_FR.UTF-8"
LC_TELEPHONE="fr_FR.UTF-8"
LC_MEASUREMENT="fr_FR.UTF-8"
LC_IDENTIFICATION="fr_FR.UTF-8"
LC_ALL=

[2021-09-09 08:03] mgallien commented on #3755
what do you get if you print the result of the call to `ucnv_getDefaultName_67` ?

[2021-09-09 09:15] mkrecek234 commented on #1321
Would be MUCH appreciated. Exactly what is required for proper collaboration on all possible file types and editing applications👍🏼

[2021-09-09 09:52] #2318 closed

[2021-09-09 11:08] mkrecek234 commented on #3766
https://docs.nextcloud.com/server/stable/admin_manual/installation/source_installation.html#pretty-urls

[2021-09-09 11:46] allexzander opened #3769 "Additional features for custom configuration during the initial setup (URL, username, etc.)"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you want to have the same feature implemented.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

[2021-09-09 11:49] FlexW opened #3770 "Add documentation for set user status"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

Add docum

[2021-09-09 13:10] matthiastummers commented on #3399
Now the same happens with OwnCloud: https://github.com/owncloud/client/issues/8995

[2021-09-09 13:10] matthiastummers commented on #3726
Now the same happens with OwnCloud: https://github.com/owncloud/client/issues/8995

[2021-09-09 13:35] tusooa commented on #3755
I have only `ucnv_getDefaultName()`.

Under the locale given by the report itself,

[code]

Uh I guess I know why... I had `export LC_ALL=` in my .xprofile .
After `unset LC_ALL` it prints UTF-8 ...

[2021-09-09 17:29] dsiminiuk opened #3771 "Option for Desktop icon on updates"
For updates that are applied via the General Tab of the desktop client (Windows), running the update places a NextCloud icon on the Windows desktop. Can the update ask if I want a Desktop icon instead of assuming?  I'm pretty tired of deleting it.

[2021-09-09 19:01] Valdnet opened #3772 "Black screen while updating"
When upgrading to the new version 3.3.3 and 3.3.2 for Windows (during installation), after a while only a black screen with the update progress window appears (Windows Explorer is not working properly). All icons on the desktop and the taskbar disappear. After the update is complete, icons appear on the desktop and some icons in the Tray. After refreshing with the F5 key, everything returns to nor

[2021-09-09 19:03] Valdnet commented on #3745
@rakekniven Can you take a look at it?

[2021-09-09 19:05] rakekniven commented on #3745
Hallo @claell ,

kannst Du bitte den String angeben bzw. einen Screenshot anfügen?

Dann wird das sofort gefixt.

[2021-09-09 19:05] rakekniven commented on #3745
Und welche Client version Du benutzt wäre noch interessant.

[2021-09-09 19:07] rakekniven commented on #3745
Ist es "Syncronisations-Konflikt"?

Gerade gefixt

[2021-09-09 19:14] Valdnet commented on #3772
Issue could be related to this: #3726.

[2021-09-10 07:04] jameskimmel opened #3774 "macOS version 3.3.3 Settings: Plugin for virtual files shows "suffix""
### Expected behaviour
Show the activated plugin or in this case something like "Plugin not installed. Go to XY to download XY".

### Actual behaviour
It shows:
"Plugin for virtual files: suffix"

### Steps to reproduce
1. Install 3.3.3 on macos
2. Go to settings, general

### Client configuration
Client version: 3.3.3

Operating system: macOS 11.5.2

OS language: German

[2021-09-10 07:29] Valdnet opened #3776 "Text strings for 2, 3, and 4"
Add text strings for the number of items for the numbers 3, 4, and 5 in the following text strings:

https://github.com/nextcloud/desktop/blob/06f37234dc0fc33b048842102435578caec01356/src/gui/userstatusselectormodel.cpp#L417
https://github.com/nextcloud/desktop/blob/06f37234dc0fc33b048842102435578caec01356/src/gui/userstatusselectormodel.cpp#L424
https://github.com/nextcloud/desktop/blob/06f37234d

[2021-09-10 08:04] FlexW commented on #3774
suffix is the vfs plugin for macOS. Did you enable the experimental options? I think the plugin gets loaded internally in the client even if you don't enable the experimental options. That is why it shows up in the settings. Maybe we can hide that string in the gui if the experimental options are not enabled.

[2021-09-10 08:14] jdunn0 commented on #3244
@FlexW said

You are incorrect about .lnk files being the same symlinks.

As someone else mentioned .lnk files are the same as .desktop files on *nix systems. They are regular files which the Windows Shell or a Desktop Environment understands and does something with like launching an app or open a folder specified in the file.
Symlinks as entries in a file system that point to a file to folder whi

[2021-09-10 08:15] mgallien commented on #3776
is it not a limitation of using `tr` ?
I guess KI18n framework from KDE's community is working fine for this (at least I know that translators of French are then able to select the correct form).
could you have a look to see how well it is working for Polish ?

[2021-09-10 08:30] jameskimmel commented on #3774
Ahh, now I get it :)

No, did not enable it in the experimental options.

Good idea!

[2021-09-10 08:42] mgallien commented on #3652
Can you share your logs (desktop client and server) when that happen ?
Can you test again with latest release (3.3.3 at the moment) ?

[2021-09-10 08:52] biva commented on #3244
@jdunn0 thanks for your input. I think that the Nextcloud team is doing its best to solve this issue, and I understand that it is somehow planned for this year, as @allexzander shared in https://github.com/nextcloud/desktop/pull/3057#issuecomment-885433569

As far as I understood, you can sync lnk if you don't use vfs. If you want to use vfs and lnk together, like me, we'll have to wait.

I think

[2021-09-10 09:53] Valdnet commented on #3776
@mgallien For other text strings, it is possible to translate both singular and plural.
Sample text string:

![obraz](https://user-images.githubusercontent.com/47037905/132835228-94dbc32f-e643-4f83-bfc4-53a8bef04a7c.png)

https://github.com/nextcloud/desktop/blob/06f37234dc0fc33b048842102435578caec01356/src/common/utility.cpp#L503-L506

However, for the above-mentioned strings, this is not possibl

[2021-09-10 10:09] mgallien commented on #3759
yeah sysadmins should fix that in a way that works

what makes you think that we do not need to add a fix by our own ?

I read again the Qt API documentation and nothing makes me think that we do not need to set that specific option to improve Nvidia driver support (and most probably other OpenGL drivers also).

[2021-09-10 10:39] CombeeMike commented on #3244
@biva I don't think that there's a way for the user to "opt out" of `vfs` and "re-activate" `*.lnk` synchronisation but I might be wrong 🤷‍♂️.

Meaning: Everything you said sounds true except the fact that users have no way ATM to sync `*.lnk` files anymore until the Nextcloud team (hopefully) fixes this somehow.

If I'm wrong: Could you explain how I could achieve this (where to deactivate `vfs`

[2021-09-10 11:15] #3745 closed

[2021-09-10 12:52] FlexW commented on #3759
@mgallien This:

[2021-09-10 16:50] jacek-kubek opened #3781 "Nextcloud destop 3.3.x AppImage doesn't start if virtual file support is enabled"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-09-10 19:34] blehmonster commented on #3349
I am also experiencing this problem on the latest nextcloud for windows nightly build.  I am running Windows 11 version 10.0.22000.184 (latest). The release of 11 is imminent; only a few weeks away.  I will guess that not much will change between the beta I'm running and the version the masses download in early October. I have tried the links above to see if this solves the problem, but they no lo

[2021-09-10 20:14] Verhoeckx opened #3782 "Bug: checkbox 'Sync hidden files' reselected after reopening window 'Ignored Files Editor'"
**Operating system**
Fedora 34 Silverblue

**Nextcloud Desktop**
version 3.3.3

**Package format**
Flatpak

**Steps to reproduce**
1. Open Nextcloud Desktop
2. Click on icon in the system tray
3. Click on Settings
4. Click on **Edit Ignored Files**
5. **Deselect** the checkbox **Sync hidden files**
6. Click on OK
7. Click again on **Edit Ignored Files**

**Result**
The checkbox  **Sync hidden file

[2021-09-10 20:26] Verhoeckx commented on #3782
**File**
`/var/home/verhoeckx/.var/app/com.nextcloud.desktopclient.nextcloud/config/Nextcloud/sync-exclude.lst`

**Content**
[code]

**Note**
I miss the expression `.*`.

[2021-09-10 20:33] Verhoeckx commented on #3782
Adding hidden directories manually does works.

**Steps**
1. Open Ignored Files Editor
2. Click on Add
3. Enter `.*`
4. Click on OK.

**File**
 /var/home/verhoeckx/.var/app/com.nextcloud.desktopclient.nextcloud/config/Nextcloud/sync-exclude.lst

**Content**
[code]

[2021-09-10 21:14] Verhoeckx opened #3783 "Add option to not sync hidden files when creating a new account"
After adding the expression `.*` to list of files to ignore (1), the number of files to synchronize went from 120.000 to 33.000 , and the synchronization time from days to a few hours!!

By default the desktop application syncs all hidden files: files the user may now want (or are not needed) to synchronize.
The dialog `Add account` doesn't offer a way to exclude hidden files and therefore a lot o

[2021-09-10 22:06] wlnx commented on #3244
No it doesn't. Look and sorry my russian:

Windows: I can cat the lnk-file to terminal, even if it is bound to directory

[code]

Linux: I can cat neither directory nor symlink to it, because symlink is a special file system object:

[code]

Thus, lnk-files are just blobs that is handled in some way by Windows shell "explorer.exe", even cmd or powershell have nothing to do with them.

[2021-09-10 22:14] wlnx commented on #3244
Being honest it did. NTFS supported symlinks from Win2000, but symlinking was hidden. In Vista we met mklink utility not to dive into fsutil or something more interesting.

[2021-09-10 22:15] wlnx commented on #3244
I can explain. Just use NextCloud client 3.1.3. It disables vfs and enables lnk.

[2021-09-11 00:04] jdunn0 commented on #3244
@wlnx said

Windows 2000 and Windows XP had support for NTFS Junctions, not symlinks.
Junctions could be linked to another folder on the same drive or a different drive with an absolute path but with symlinks you could do relative links to folders, links to UNC paths and links to files.

[2021-09-11 15:20] charmanjoe commented on #3478
This just happened to me. I deleted an existing folder sync connection and remade it, this time using virtual files. I noticed in file explorer that all my files had the little icon indicating that they exist only on the server and not my device. I removed the folder sync connection and now all the files in my local folder are gone; only folders exist.
Luckily I take daily backups, so I don't have

[2021-09-11 17:18] wlnx commented on #3244
I ain't ready to setup XP back to check if I'm missing something, thus let it be. It's been a long time ago. =^>.<^=

[2021-09-11 21:16] jdunn0 commented on #3244
You don't need to setup Windows XP to check as on [Microsoft's official documentation on Symlinks](https://docs.microsoft.com/en-us/windows/win32/fileio/symbolic-links) it says "Symbolic links are available in NTFS starting with Windows Vista".

[2021-09-11 22:04] wlnx commented on #3244
Well, let's begin [docufighting](https://en.wikipedia.org/wiki/NTFS_links):
From NTFS 3.1 onwards, symbolic links can be created for any kind of file system object. NTFS 3.1 was introduced together with Windows XP
...
Since Windows XP uses the same NTFS format version as later releases, it's feasible to enable symbolic links support in it. For using NTFS symbolic links under Windows 2000 and XP, a

[2021-09-11 22:42] jdunn0 commented on #3244
@wlnx It's not a holywar, I was just pointing that there was no built-in support for Symlinks in Windows 2000 and Windows XP. The third-party driver didn't even exist until many years after the release of Windows Vista.
Windows 2000 and Windows XP did have support for Junctions but to create them you needed a third-party tool like Sysinternals Junction.

The entire point of my first point in this

[2021-09-12 00:08] wlnx commented on #3244
What is "built-in"? FS had full support of symlinks starting with XP (2000 had only junction points, yes). Usermode - yeah, had none. We finished at the start point: before Vista symlinks were available - but only with 3-rd party drivers. Vista brought us usermode and mklink. And Win10 made non-privileged users able to use the functionality. And Qt does strange things.

And no matter what point Qt

[2021-09-12 09:44] Bond246 commented on #3771
I would like to ask the same.
Everytime the client gets an update the icon will be placed in administration folder of the desktop. I always have to get admin rights to delete it again. This should be smarter :)

[2021-09-12 17:10] jimmyfi commented on #3721
I tried uninstalling the old version but it didnt work out either (same error codes).. So I gave up and installed win11 and new update installer works just fine ... could be that my old win10 installation was so corrupted already that it didnt work as it should.. or something :) Sorry for the trouble

[2021-09-12 17:10] #3721 closed

[2021-09-12 18:00] hefee commented on #3723
With a not stable ABI the things in the Private part may change very rapidly. This is the reason, why Debian created this package. As for every minor update all packages, depending on that package needs to get recompiled. The other reason is to make sure, that project do not rely on something, that is not stable. There are only a few valid use cases, when this private API should be used.

That wou

[2021-09-12 18:03] andreapx opened #3784 "Use "normal" filename for install/update"
When I started the last update it executed a file named 18d7ef0.msi. Maybe it always happened, but I've never noticed this.
At first I was worried. I decided to download the Windows 0 client directly from the Nextcloud website and it executed the same file.
Since in this period cryptoviruses are spreading worst then the corona, I think that a "normal" file name would be really better!!!
Andrea

[2021-09-12 18:42] jdunn0 commented on #3244
Despite the File System having the capability of symlinks, because Windows XP had no included driver for handling them or APIs for creating them, it wasn't a built-in feature of the OS.
I would say that built-in would refer to things the OS can not do on it's own without third-party drivers.

Back on topic, I tried downloading the OwnCloud Desktop Client and found that it does support syncing .lnk

[2021-09-12 18:44] Pimmetje commented on #3769
It would be a big plus if some silent switches can be used to pre-populate the server url & username (maybe even the password). We can argu if it is safe but in some cases it could be useful.
When SSO is used the SSO flow should be started after first launch.

[2021-09-13 07:40] mgallien commented on #3776
@Valdnet do you want to work on a patch ?
I am a bit short on the time available to do it myself in a reasonable time frame

[2021-09-13 07:41] mgallien commented on #3781
We have fixed that problem in the latest release.
Can you test with 3.3.3 version ?

[2021-09-13 07:50] mgallien commented on #3771
@dsiminiuk @Bond246
I do not expect anybody from the Nextcloud team to have time to work on this soon
do you want to try doing it yourself ?

[2021-09-13 07:53] mgallien commented on #3723
I am sorry for my usage of the word `simplicity`
I wanted to express that not using private APIs in the Debian package means that work is simpler because we are not tied to a specific Qt ABI (as you said no rebuild, ....)

I have no idea when we could switch to a proper public API for that. sorry

[2021-09-13 07:56] mgallien commented on #3784
The name you see in the popup comes from internal mechanism of the installer that is split into two parts:
- the first with the name you downloaded is using normal use privileges
- the second with the autogenerated name is using elevated privileges (the name is generated by the MSI generator framework)

we will have to research if there is a way not to have such a name

are you able to help us ?

[2021-09-13 08:13] andreapx commented on #3784
Unfortunatly I can't code at all...sorry.
I can help doing tests.

[2021-09-13 08:33] Valdnet commented on #3776
I'd love to, but the change probably requires more coding.

[2021-09-13 09:50] Valdnet commented on #3776
@mgallien Sample of code change:

[code]

Is my logic right? Do I need to improve anything else?

[2021-09-13 10:44] zeten30 opened #3786 "Nextcloud client should not repetitively open account configuration window when launched in background (GNOME + Dbus service)"
### Expected behaviour
- Client launched autoatically vi dbus service - > process /usr/bin/nextcloud --background
- configuration or other UI windows opens only on user request
- there should be an 'Do not show this again' checkbox

### Actual behaviour
- repetitively opens account configuration window
- no easy way to stop client when not needed

### Steps to reproduce
1. run client in background

[2021-09-13 11:34] claell commented on #3784
This is likely a duplicate of #2947 and #3735.

[2021-09-13 12:08] andreapx commented on #3784
Sorry, I searched before posting, but...evidently not enough!

[2021-09-13 12:10] claell commented on #3784
No problem :) Now this one can help others find the existing issues easier.

[2021-09-13 12:10] claell commented on #3784
Duplicate of #2947

[2021-09-13 12:10] #3784 closed

[2021-09-13 12:25] OrvilleQ opened #3787 "Nextcloud Desktop can not connect to HTTP/2 server, and also the Android client."
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-09-13 12:28] FlexW commented on #3478
I clarified the steps to reproduce a bit.

[2021-09-13 12:28] claell commented on #3745
@rakekniven Vielen Dank! Hatte das als Erinnerung für mich erstellt und wollte nochmal Details nachliefern, wenn es das nächste Mal auftritt. Aber der Fehler scheint auch so gefunden worden zu sein. Aktuell kann ich gerade nicht einfach einen Konflikt produzieren, um das Fenster wieder zu sehen. Aber ich gehe davon aus, dass es genau dieser Fehler war, den du erwähnst.

[2021-09-13 13:40] FlexW commented on #3787
Please translate the dialog. I can't read that language. Having said that, I guess that is a dialog that complains about invalid certificates? You probably haven't configured your server correct.

[2021-09-13 13:47] FlexW commented on #3786
Is your complaint that the "Add Nextcloud account" window pos up from time to time? That window should only pop up if you have no account configured.

Because Fedora uses GNOME and GNOME does not want to implement tray icons it is a little bit difficult to exit the Nextcloud client or disable autostart if you do not have an account configured.

I'm not sure we will win much with using dbus activat

[2021-09-13 13:58] zeten30 commented on #3786
Yes, I want to avoid window popup if there's no account. It's fine to appear once, but I think that a checkbox 'do not show this again' will be very handy in this case.

You can disable / mask dbus service unit, but it's not user friendly.

[2021-09-13 14:02] FlexW commented on #3786
I think dbus activation and the tick box on this dialog are two different issues. I think this ticket is for the tick box in the account wizard. You can open a new ticket for the dbus activation or better directly provide a pull request for it :) I think we would happily accept that feature, but it has at the moment no priority for us.

[2021-09-13 14:05] OrvilleQ commented on #3787
It says:
[code]
As I mentioned before, It work perfect with browser and certificates are fresh new also, and I install the server with offical docker image with nginx as reverse proxy.

Here's my nginx conf file:

[code]
I use another program for SSL but the same plan always worked so I don't think is it's problem.

And I fix the [log](https://github.com/nextcloud/desktop/files/7154162/20210913_20

[2021-09-13 14:23] OrvilleQ commented on #3787
As I can see from the log, it seems because client got nothing from `status.php`

[code]

But I can normally access `status.php` within my browser.

![image](https://user-images.githubusercontent.com/21377465/133100932-b56da693-a789-46e9-aa66-0b9a69fb333e.png)

And Client works just fine with demo1.nextcloud.com

I'm really confusing now :-(

[2021-09-13 15:00] OrvilleQ commented on #3787
Oh, I see.

#1823

It is because HTTP/2.

Everything works after I add OWNCLOUD_HTTP2_ENABLED=1 to environment variable.

https://github.com/nextcloud/desktop/blob/138323b79d288b899f9d029ff2c2b2934086a39c/src/libsync/accessmanager.cpp#L81-L89

It's an issue stay for almost two years now. Someone even mentioned this bug has been fixed in Qt version 5.9.4, and you guys are using Qt 5.12.9 now. I jus

[2021-09-13 15:08] OrvilleQ commented on #3787
Yes, it is the same issue.

https://github.com/nextcloud/android/issues/2681

HTTP/2 support for Android client has opened for three years now. Even though we could access HTTP/2 server with HTTP/1.1 painless.

[2021-09-13 15:09] nursoda commented on #3781
I'm on arch, installed regular `nextcloud-client` (3.3.3) and added some accounts. Then I wanted to enable virtual files. I first added `showExperimentalOptions=true` to `nextcloud.cfg` and then tried to `Activate virtual files` in one of the clouds. App reproducibly crashes doing that, and when restarted, it's in the state as before (virtual files disabled). So, this might be the same issue.

[2021-09-13 15:39] wlnx commented on #3244
Ah, I misunderstood you, sorry. Ok, I agree, despite XP had the capability, interaction with it  was a very strange magic, thus being unavaiilable for the most of users.

OwnCloud doesn't meet the issue? xD Maybe it has sense to move from NextCloud.

[2021-09-13 15:41] OrvilleQ commented on #3787
And client for Apple device won't have this issue.

(ー_ー)

I speechless.

[2021-09-13 15:44] Temtaime commented on #3244
@wlnx hello. I'm currently working on custom desktop client that will for sure sync .lnk files. And be faster than current one. :) Stay tuned

[2021-09-13 16:22] nursoda commented on #2731
Still present in 3.3.3

[2021-09-13 16:39] nursoda opened #3788 "Wrong sort order if >10 accounts are set up"
### How to use GitHub
* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Actual

[2021-09-13 16:48] nursoda commented on #3788
This also seems to cause the icon shift in the main (notification area) dialog as descreibed [here](https://github.com/nextcloud/desktop/issues/2731#issuecomment-753969103).

[2021-09-13 17:01] nursoda opened #3789 "Main dialog's "account" menu not scrollable if main dialog is shown as normal window and height is too big"
### How to use GitHub
* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Actual

[2021-09-13 17:48] dsiminiuk commented on #3771
@mgallien
Ha. Ha. Ha.
No idea how to do that. Not a coder, sorry. I'll wait.

[2021-09-13 18:52] jacek-kubek commented on #3781
@mgallien
There is bug in all versions of client in the 3.3.x 'line', and there is no change in 3.3.3 (as I mentioned in my initial post).
The client can not load (find?) `nextcloudsync_vfs` plugin:
[code]
As far as I observed, the 3.2.x client doesn't need this plugin:
[code]

@nursoda
In my opinion it is the same issue.
Just give a try [the last version of client in the 3.2.x 'line'](https://dow

[2021-09-13 22:58] magneticflux- opened #3790 "Sync client closes during mid-propagation start event"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-09-14 06:54] 71GA commented on #1993
@jpeg2600  You say:

Can you be a bit more speciffic / descriptive. How did you dissable rich workspaces?

[2021-09-14 07:13] benjamindahl commented on #3387
I've got the exact same problem.
Ubuntu 20.04 LTS
Storage as SMB mount
Nextcloud Server 22.1.1.2
Nextcloud Desktop Client > 3.1 (tried them all)

latest working version 3.0.3
all later versions react like described above.
[nextcloud.cfg.txt](https://github.com/nextcloud/desktop/files/7159558/nextcloud.cfg.txt)
[fstab.txt](https://github.com/nextcloud/desktop/files/7159571/fstab.txt)

[2021-09-14 07:16] cholzer79 commented on #3387
Thanks for confirming, good to know that I am not alone with this issue! :D

[2021-09-14 07:22] benjamindahl commented on #3387
Yes, and I can confirm the similar way I've taken to come to that temporary solution. Started with the PPA-version and then had to switch to the legacy appimage (3.0.3)

[2021-09-14 08:11] FlexW commented on #3781
@mgallien it was only fixed in the build-appimage script in this repository. It was not fixed in brander. That's why the error is still in 3.3.3.

@nursoda Ou build/install process via make/ninja is currently broken and packagers need to copy the vfs plugins into the correct location by themself. See also https://github.com/nextcloud/desktop/blob/be8f60fa8ec863771afa84bdc1bf6cb61d6d9896/admin/linu

[2021-09-14 08:23] FlexW commented on #3789
That I understand correct: The account list is scrollable until the window reaches a certain height? If it is scrollable, is it hen possible to see all accounts?

[2021-09-14 11:34] mgallien commented on #3776
@Valdnet yes but in this case should you not also add context to help translators ?

[2021-09-14 11:38] Valdnet commented on #3776
@mgallien Well. I will take care of this and add context for the translators.

[2021-09-14 13:18] mgallien commented on #3790
honestly I am fine with a redacted log but there I am missing too much context to understand what is going on
what were you doing when that started happening ?
could you share more lines of log such that we get to better understand what is going on

[2021-09-14 14:57] nursoda commented on #3789
Yes. Yes.

[2021-09-14 15:21] arrowd commented on #2728
Have this problem on FreeBSD with Nextcloud client 3.2.4

[2021-09-14 15:36] Valdnet commented on #3776
Changes made.

@mgallien Please check if it's okay. I did not add context for the translators because they are simple text strings that do not require detailed explanation for their meanings.

[2021-09-14 17:15] magneticflux- commented on #3790
I'm just trying to sync virtual files, or whatever it does when starting up.

From the point in the logs where it cuts off, it looks like something fails when it tries to receive the path's inode and the failure state isn't properly handled. Perhaps in `csync_vio_local_stat`? The logging isn't fine enough to tell exactly.

[2021-09-14 19:11] enoch85 commented on #1323
Just curious, any update on this issue? Planned soon, or just approved (could happen in years).

Thanks!

[2021-09-14 22:08] 71GA opened #3795 "Can't build version 3.3.3 on Debian 11"
Version of Nextcloud that comes with the Debian 11 by default is [buggy](https://github.com/nextcloud/desktop/issues/1946). Also the official `.appimage` file from [here](https://nextcloud.com/install/#install-clients) is buggy.

So I the last resort for me is to build from source. I choose to take *release* 3.3.3 from [here](https://github.com/nextcloud/desktop/releases/tag/v3.3.3) and we downloa

[2021-09-14 23:15] FlexW commented on #3795
You installed the client to `/opt/nextcloud`. That means the shared libraries that the desktop client ships like `libnextcloud_csync` and so on will also be installed in directories below `/opt/nextcloud`. When you start the Nextcloud desktop client, the dynamic linker searches for the shared libraries that the desktop client needs. The search will fail because the shared libraries that the deskto

[2021-09-14 23:15] #3795 closed

[2021-09-15 07:32] MAccadia commented on #1624
We are currently hitting this issue.

One workaround we considered : downloading the latest msi and re-installing every week through a scheduled task. Not very optimal.

A better way would be to have a scheduled task executing the auto-updater. Is there a way to do that with command line (e.g. `nextcloud-client.exe --update`) ?

An other path I haven't explored : running `nextcloud-client.exe` at

[2021-09-15 08:47] mgallien commented on #1624
To summarize my understanding of this idea, we would have:

- normal user of PC without elevated privileges but using Nextcloud desktop client ;
- a background service running with elevated privileges that would fetch binaries from Internet and install them automatically without UAC prompt.

I fear I will have an hard time convincing people that I can implement that and keep it secured enough.
Nex

[2021-09-15 09:28] MAccadia commented on #1624
or a scheduled task running something like `nextcloud-client.exe --update` running as `NT AUTHORITY\SYSTEM`

I understand the security concerns. The msi is signed and could be fetched through https. SSL cert and signature check can mitigate the security risk but I don't know if that's enough. It is still a controlled remote code execution (as the existing auto-updater is I guess).

Firefox does it

[2021-09-16 00:41] JeanPaulBeard commented on #3707
I also had the same problem and I solved it by changing these lines

`/config/config.php`

[code]

After doing several tests I saw that sometimes the `'overwriteprotocol' => 'https',` line is not created.

[2021-09-16 02:19] NaofumiHonda opened #3796 "nextcloudcmd uses a different sync database file after 3.3.2"
When issue the cmd
`
nextcloudcmd -p yyy -u xxx  /home/xxx  https://zzz.zzz.zzz/nextcloud/
`
this cli program refers the sync database file ".sync_91bb77b2995b.db" before ver 3.3.2, but now (ver 3.3.3)
it refers  ".sync_1df1707a1748.db".
The gui  program, however, refers the same .sync_91bb77b2995b.db through all the versions.
This causes several serious problems, in particular, if both the cli an

[2021-09-16 08:41] FlexW opened #3797 "Main dialog should respect system font and font size"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

The main

[2021-09-16 08:45] FlexW commented on #2638
I think we addressed some points of this issue:

You can have the main dialog as normal window and move it around if you either set `showMainDialogAsNormalWindow=true` in the section `[General]` in `nextcloud.cfg` or you disable the system tray.

The theming inconsistency will probably not change in the future because the main dialog is implemented with a different technology than the settings dia

[2021-09-16 08:45] #2638 closed

[2021-09-16 10:26] kanichrnd commented on #3790
I have exactly the same problem. Client crashes at the same moment.
I use virtual files and Amazon S3 as external storage. May this cause such problems?
@mgallien  Should I share my logs? I can PM them to you

[2021-09-16 10:59] Trafo commented on #3584
I created a fix #3799 . This bug should be only reproducible with newer .msi installers.

[2021-09-16 12:25] freumichCH commented on #2962
Problem ist still present with V3.3.3 desktop client.

Is this coming from the QR environment?
Can someone reproduce this issue?

[2021-09-16 12:30] freumichCH opened #3801 "[ARM -M1] Garbled graphics on Activity Screen"
### Expected behaviour

Activity Screen shows correct rendered graphics

### Actual behaviour

Activity Screen shows garbled graphics

### Steps to reproduce

1. Building desktop client based on instructions from [This Manual](https://raw.githubusercontent.com/nextcloud/desktop/master/doc/building.rst)
2. Installed on a macOS 11.6 with M1 - ARM main processor
3. Logged in with test account and set

[2021-09-16 12:48] FlexW commented on #3801
Clients downloaded from nextcloud.com are compiled for the Intel architecture and run under Rosetta on the M1.

Arm support is experimental at the moment and we do not provide official builds for now because Qt5 does officially not support the M1.

Having said that, a few other people and I were able to build Arm binaries successfully and haven't experienced the issue. Have a look at the discussio

[2021-09-16 12:54] freumichCH commented on #3801
Hi @FlexW

Thanks for your quick respond.
Great! That gives me a new approach.

I'm not owning a Mac with ARM processor. But i will check that with my coworkers and will come back with a update!

[2021-09-16 15:06] freumichCH commented on #3801
Here the details of the affected machine:

Modelname: MacBook Pro
Model Identifier: MacBookPro17.1
Chip: Apple M1
Count of Cores: 8
Memory: 16GB
System Firmware: 6723.140.2
OS Bootloader: 6723.140.2

[2021-09-16 16:40] njakes commented on #3781
On a fresh install I am also having issues with this.  When adding showExperimentalOptions=true to the nextcloud.cfg it makes the option available.  However, as soon as Enable virtual file support is selected the entire application crashes with a Segmentation fault (core dumped) output in terminal. Is there a way to manually edit 0\Folders\1\virtualFilesMode=no in nextcloud.cfg?
This is also runni

[2021-09-16 16:44] tecnosegugio opened #3802 "NextCloudCmd can't sync: asked for a confirmation of password"
### Expected behaviour
I want to use nextcloucmd to sync a folder from my PC with the server.
This command was working until today (first time I've used it after a while).
Usually the files are synchronized without errors

### Actual behaviour
Now nextcloudcmd does not sync anything and attached you have a log of the session.
At a first glance I see a "confirmation password" request that usually s

[2021-09-16 19:44] silvain opened #3803 "Nautilus integration conflicts with ownCloud"
### Steps to reproduce
1. Install both ownCloud and NextCloud clients (Ubuntu 20.04)
2. Install nautilus integration for both
3. owncloud right-clic option disappears from owncloud folders in Nautilus, while it is duplicated for Nextcloud folders.

### Client configuration
Client version: 333
Operating system: Ubuntu 20.04
OS language: French
Qt version used by client package (Linux only, see also

[2021-09-16 20:14] magneticflux- commented on #3790
I'm also using virtual files and local external storage, if that helps.

[2021-09-17 02:29] tensor5g commented on #3349
Same issue on Windows 10 21H1 (19043.1202)

[2021-09-17 05:51] Milokita commented on #3605
@mgallien Yes, the bug is resolved.

[2021-09-17 05:51] #3605 closed

[2021-09-17 05:57] pelzvieh opened #3804 "Client randomly crashes under MacOS (Intel) with EXC_BAD_ACCESS"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-09-17 06:54] apoloval commented on #3349
Also failing in Windows 10 `21H2`:

[code]

[2021-09-17 07:12] mgallien commented on #2962
sure but you already opened #3801let's continue there

[2021-09-17 07:23] #3102 closed

[2021-09-17 09:05] #3770 closed

[2021-09-17 10:45] CaptainBalou opened #3806 "New folders marked as "ignored". Not getting synced since upgrading from Nextcloud 3.2.4 to 3.3.3 on macOS."
### Expected behaviour

New directories are synced well as before in 3.2.4.

### Actual behaviour

All new folders are marked as "ignored" and are not getting synced since upgrading from Nextcloud 3.2.4 to 3.3.3 on macOS. This happens even the ignore list is completely empty.
Note: Virtual file extension (suffix) is enabled.

### Steps to reproduce

- Create a new directory inside the synced folde

[2021-09-17 20:26] adegans commented on #2010
I'd like Lansync too. All clients on the lan should have some auto discovery for each other similar to Bonjour.
Then match files and do a sync locally.

In a perfect world there would be one master once all local devices are the same to get the server up to speed.

[2021-09-17 23:15] ehamwey commented on #2659
Qt 6.2 Release Candidate was released yesterday. What would be the pertinent next steps to trying building Nextcloud with the updated Qt version?

[2021-09-18 10:37] radoeka commented on #3677
I just made the jump, the last version (3.3.0) is working for me.
Thanks for making it work again.

[2021-09-19 09:08] BastienX8 commented on #2659
After having some issues with QtKeychain and some files in the wrong places I finally managed to build an arm version of nextcloud desktop. It is even smaller than the intel version (~66Mb) and everything works so far, thanks for the tips !

On my new M1 Macbook I never installed the official intel version, and the setup works just fine with the arm one. I also share my self build version to a fri

[2021-09-19 09:47] BJKle opened #3809 "Sidebar Icon on macOS Monterey (12.0.1) looks different"
### Expected behaviour
After connecting to the Nextcloud server, sidebar icon should change to the Nextcloud logo in blue.

### Actual behaviour
Sidebar icon changes to a black Nextcloud logo. (Regardless of "use monochrome icons" checkbox ticked or not).

### Steps to reproduce
1. Upgrade to macOS Monterey final
2. connect to Nextcloud server, using the latest desktop app.

### Client configurati

[2021-09-19 10:04] magneticflux- commented on #3790
I added new files and opened Nextcloud and it detected and uploaded them, but then it immediately crashed when that finished.

[2021-09-19 10:57] kesselb commented on #3441
For the record: If you are using the PPA and still have 2.x make sure to install nextcloud-desktop to get 3.x.

[2021-09-19 13:27] nursoda commented on #3781
[Fixed](https://bugs.archlinux.org/task/72133) in Arch package [nextcloud-client](https://archlinux.org/packages/community/x86_64/nextcloud-client/) 3.3.3-2.

[2021-09-19 15:41] claell commented on #3745
So, endlich mal wieder diese Meldung bekommen, sodass ich jetzt einen Screenshot nachreichen kann.

War tatsächlich wie vermutet dieser String.
![grafik](https://user-images.githubusercontent.com/6171135/133933673-8334e6cb-d1bb-4083-b21b-464ebfa24a85.png)

[2021-09-19 15:48] rakekniven commented on #3745
Ok, dann sollte der nächste Release das beheben. Gruß

[2021-09-19 15:55] claell commented on #3447
Reopening again, since I don't think relevant code for this has changed in the meantime.

[2021-09-19 15:58] claell commented on #3797
Related to #914?

[2021-09-19 16:01] claell commented on #914
I think this is still relevant, so reopening.

[2021-09-19 16:06] claell commented on #3456
@dahooz Thanks for your observations! I am not sure, whether it explains the Excel problem, though (as the problem does not happen every time, in fact rather rarely, currently).

Still, the behavior of changing the creation date seems to be pretty wrong. Possibly this might even be worth a separate bug report to raise awareness.

Ping @allexzander @FlexW

[2021-09-19 17:05] andyxheli commented on #3527
Still an issue

[2021-09-19 21:17] valdearg opened #3810 "Desktop Client downloads files initially when virtual files is selected"
When syncing using the "Use virtual files instead of downloading content immediately", the desktop client starts to sync data anyway?

### Expected behaviour
When setting up a sync connection in the client, select the option for "Use virtual files instead of downloading content immediately", checking bandwidth usage it's still downloading all the data.

### Actual behaviour
Starts downloading the

[2021-09-19 21:33] valdearg commented on #3810
Weirdly enough, if I pause the sync and choose the options > availability > Free up local space option, it'll do the "checking for changes", it'll then create some virtual files and then start downloading again.

[2021-09-20 09:37] rakekniven opened #3812 "l10n: Two parameters named "%1" will not work"
https://github.com/nextcloud/desktop/blob/63a5f7e34809adcaeedd3040b74ecebfad3e2178/src/common/filesystembase.cpp#L398

https://github.com/nextcloud/desktop/blob/63a5f7e34809adcaeedd3040b74ecebfad3e2178/src/common/filesystembase.cpp#L404

Shouldn't this be %1 and %2 ?

[2021-09-20 10:53] vasyugan opened #3814 "status icon not displaying correctly on Linux"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-09-20 12:30] allexzander opened #3816 "Release 3.3.4"
### :memo: TO DO
 - [x] :arrow_up: Bump VERSION.cmake to 3.3.4 and doc/conf.py (release to 3.3.4) in the corresponding stable branch
 - [x] :label: Create tag from corresponding stable branch on the commit introducing the version bump
[code]
- [x] :label: Create tag from corresponding stable branch in client-building. Steps to create the tag are the same as the above.
- :factory: Trigger the build

[2021-09-20 14:22] rclough opened #3818 "Windows icons broken by nextcloud - cannot remove explorer integration"
Hey there, I'm experiencing a multifaceted issue where I tried installing Nextcloud to do backups, but Nextcloud crashes any time it syncs. In addition, it seems to have broken a number of my windows icons, causing them to turn into blank pages.

I gave up on trying to make it work, so I uninstalled it. However, all of the Explorer integration features do not get uninstalled, so all of my icons ar

[2021-09-20 15:29] FlexW opened #3819 "Make user status selector dialog modal"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-09-20 16:04] mgallien commented on #3527
hello,
can you @andyxheli share your logs when testing with the latest release (3.3.3 at the moment) ?

[2021-09-20 16:07] mgallien commented on #3781
Next release 3.3.4 should have a working virtual files support in the Appimage build.

Once you have it, can you test and close the issue if the bug is fixed ?

[2021-09-20 16:10] mgallien commented on #3447
I am afraid that without logs we cannot really understand what is happening and fix it
so could affected people post their logs ? that would be nice

[2021-09-20 16:13] fenpaws commented on #3447
Well as I stated in my initial post it's impossible to get any logs when the whole program just locks up, and the explorer. If you could give any hints on how we can provide logs then please do.

[2021-09-20 16:15] mgallien commented on #914
there is no longer a bug
the fact is that depending on the Qt versions, you can end up easily misconfiguring the scaling feature within Qt and will get badly scaled tray dialog.
this is not a bug in itself because if you fix the configuration as seen in comment https://github.com/nextcloud/desktop/issues/914#issuecomment-873715895 then it is working

[2021-09-20 16:15] #914 closed

[2021-09-20 16:15] andyxheli commented on #3527
Sorry look for on 3.3.3. I did changed a lot of files and did see an issue. If this changes in the future ill be sure to reopen this ticket or open a new one. @mgallien Thank you for your time.

[2021-09-20 16:15] #3527 closed

[2021-09-20 16:17] andyxheli commented on #3526
Still an issue on 3.3.3

[2021-09-20 18:55] jacek-kubek commented on #3781
@mgallien
I am waiting for 3.3.4 release.
The [3.3.3](https://github.com/nextcloud/desktop/releases/tag/v3.3.3) one is still the `Latest release`.

[2021-09-21 07:24] StefanGebhardt opened #3820 "Credentials not stored in Desktop Client 3.3.3/3.3.6"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Steps

[2021-09-21 09:40] rYR79435 commented on #3820
I have the exact same behaviour also for 3.3.3 but on Linux.
Output of `nextcloud --version`:
[code]

[2021-09-21 12:07] leuedaniel commented on #3349
When i shut off the vfs then it works.

[2021-09-21 12:27] claell commented on #3816
I think #3745 is missing in the list of changes/fixes included in the release.

[2021-09-21 13:01] TheRealEscimo opened #3822 "Download link is broken for Windows 3.3.4 client"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-09-21 14:13] mgallien commented on #3526
can you provide your logs ?
without them we cannot understand the problem

[2021-09-21 14:33] andyxheli commented on #3526
@mgallien where would you like me to send the logs or can you create a share i can upload them too

[2021-09-21 17:30] andyxheli commented on #3526
@mgallien Here you go seems to happen more on word files
[Logs.zip](https://github.com/nextcloud/desktop/files/7205104/Logs.zip)

[2021-09-21 17:39] TheRealEscimo commented on #3822
It is working now. Closing it

[2021-09-21 17:39] #3822 closed

[2021-09-21 18:05] valdearg commented on #3810
Updated to the latest client version 3.3.4, I managed to get one folder fully synced down, however it took around 5 times of doing:

1. Choose the Options > Availability > Free up local space
2. Resume sync. The client then goes through the checking for changes on the server.
3. Speeds through creating a number of files, the first time was around 14800 files. It then arbitrarily decided to start d

[2021-09-21 21:25] VVD commented on #3200
Remove cmake test for argp include, it's not actually used in the code:
[code]

Patch from here: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=257945

[2021-09-22 09:47] #3816 closed

[2021-09-22 10:59] FlexW commented on #3814
I can not confirm the bug. For me the latest version (3.3.4) works fine. Do other tray icons show up? Maybe you need to use a different extension for tray icons. I use this one https://extensions.gnome.org/extension/615/appindicator-support/

[2021-09-22 11:01] #3812 closed

[2021-09-22 12:06] camilasan commented on #3820
I couldn't open the nextcloud.log in download.zip

Please provide the desktop client logs:
- Since 3.1: Under the "General" settings, you can click on "Create Debug Archive ..." to pick the location of where the desktop client will export the logs and the database to a zip file.

Thanks!

[2021-09-22 12:16] liberare commented on #2669
I have the exact same issue. Someone shared a large folder structure with me, that contains thousands of small files (file size approx. 2-6 kB). The Nextcloud sync client is syncing them one after another, which takes a loooong time because it uses only a fraction of the available bandwidth, and it has a relatively high CPU usage (permanent 100% on one core). I think it is not a bug, because it se

[2021-09-22 12:32] StefanGebhardt commented on #3820
[Log.zip](https://github.com/nextcloud/desktop/files/7210619/Log.zip)

[2021-09-22 13:11] FlexW commented on #3818
- Did you restart after the installation and de-installation?
- Have you verified that the Nextcloud installation folder (that probably is in `C:\Program Files\Nextcloud`) is empty?
- Did you remove the files that start with `._sync` in the folder you tried to synchronise?

[2021-09-22 13:17] rclough commented on #3818
Yes

I'll check this today

I have not, did not realize I need to look for those files, however this will be pretty problematic because I was trying to index the entire user folder (ie all files, all documents, music, etc...) I suppose nows a good time to learn power shell...

[2021-09-22 18:43] GammelSami opened #3826 "$RECYCLE.BIN Windows notification appears multiple times a day when syncing whole partition"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-09-23 01:39] #3076 closed

[2021-09-23 06:56] acsfer commented on #2728
@camilasan as you're the PR author, could this be related to https://github.com/nextcloud/desktop/pull/2540?

[2021-09-23 07:08] acsfer commented on #3787
All my nginx servers have `http2` and client connects fine,becaus it issues a HTTP/1.1 request.

[code]

And a log line from the client:

`xxx.xxx.xxx - [23/Sep/2021:09:04:52 +0200] "PROPFIND /remote.php/dav/files/user/ HTTP/1.1" 207 266 "-" "Mozilla/5.0 (Windows) mirall/3.0.3stable-Win64 (build 20201029) (Nextcloud)" "-" 952 0.238 "server=127.0.0.1:81" "255" "rt=0.212" "cloud.ceped.org" "-"`

Als

[2021-09-23 08:51] Derkades commented on #2766
see #2766 if you find this issue through google

[2021-09-23 10:42] FlexW commented on #3818
These are just three files on the root sync folder. They should be easy to find :)

[2021-09-23 10:52] FlexW commented on #3797
@claell No sure, I think the first one is about a hidipi issue. The second one is maybe also hidipi issue or that problem may be gone if we don't use a fixed font size.

[2021-09-23 12:03] FlexW commented on #3456
@dahooz Thanks for the valuable information. Maybe you can open an extra ticket for it when you have clear steps to reproduce the problem.

[2021-09-23 12:07] FlexW commented on #2659
@ehamwey There need to be fixed quite some deprecations before the desktop client can move to Qt6. Other than that Qt6 does not support Windows 8 which still some customers use and is officially supported (from Microsoft).

[2021-09-23 12:24] vasyugan opened #3828 "Crashes under Windows 11 when mouse hovers over systray icon"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-09-23 12:31] vasyugan commented on #3828
Update: I have now managed to create a debug archive. Where can I upload it?

[2021-09-23 13:03] #3751 closed

[2021-09-23 14:29] andyxheli commented on #3526
@mgallien did you have a chance to look at the logs ? Where they any help?

[2021-09-23 19:57] TheRealJayjayli commented on #3828
I have this issue too. Could it be linked to this? #3568

[2021-09-23 20:34] AlfredoCubitos opened #3829 "Client crashes when push_server is not running"
Hi,
on OpenSuse Tumbleweed with kde plasma the recent nextcloud client crashes when the push server is not running or it has a wrong version.
The client throws a segmentation fault in this case.
After updating the push server to the current version, every thing works fine.

Before the client version 3.3.3 the client didn't crash when the push server wasn't running and it shouldn't ;-)

I my case I

[2021-09-23 22:26] averms opened #3830 "Nextcloud local sync exclude list doesn't stop files from being synced"
### Expected behaviour
When I add a file to the local ignore list it should not be synced.

### Actual behaviour
It gets synced anyway.

### Steps to reproduce
1. Add a filename (like `xyz.txt`) to the local ignore list using the Nextcloud GUI.
2. See that a file called `.sync-exclude.lst` is created.
3. Create `xyz.txt`.
4. Observe that Nextcloud still syncs it.

### Client configuration
Client v

[2021-09-24 01:34] #3653 closed

[2021-09-24 01:43] OrvilleQ commented on #3787
After a few days of exploration, I found out it was because of my misunderstanding of h2c, h2 and alpn which cause my SSL setup will fallback http/1.1 connection to nothing when no alpn was specified.

Everything works fine now.

[2021-09-24 01:43] #3787 closed

[2021-09-24 07:27] EVOTk commented on #3826
Hello,
I have the same concerns. https://www.forum-nas.fr/threads/nextcloud-desktop-recycle-bin.16811/

I disabled the recycle bin on this disk, without success.
I added an exclusion filter, but also failed.

![2021-09-17 10_55_11-Window](https://user-images.githubusercontent.com/45015615/134635275-b1cc7a2e-a8c9-4ddf-a583-ffaa5346c716.png)

I'm sync entire HDD drive (E:\)

**Client version:** 3.3.

[2021-09-24 07:59] thrynir commented on #3652
Hi,

It seems that either the last client update or Nextcloud 22 (I was in 21 previously) fix the issue.

Regards,

[2021-09-24 08:23] BJKle commented on #2659
@FlexW Do I read your message correctly, we cannot expect a M1 Version before 2023, because Nextcloud will support Windows 8.1? This is really sad.

Quote Microsoft Support Document:
"Windows 8.1 reached the end of Mainstream Support on January 9, 2018, and will reach end of **Extended Support on January 10, 2023**. With the general availability of Windows 8.1, customers on Windows 8 had until Jan

[2021-09-24 08:28] FlexW commented on #2659
@BJKle No, I haven't said that. It's also possible to build for the M1 with Qt5 as you can see from the comments above.

[2021-09-24 08:45] tobiasKaminsky commented on #3797
Added for discussion 👍
Having the Desktop app more native is good, I think.

[2021-09-24 09:39] maximelehericy opened #3831 "Missing Nextcloud option in contextual menu when the file is virtual"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

Good morn

[2021-09-24 10:47] jacek-kubek commented on #3781
I can confirm the issue with `nextcloudsync_vfs` plugins is resolved in `Nextcloud-3.3.4-x86_64.AppImage` release.

[2021-09-24 10:47] #3781 closed

[2021-09-24 12:33] exilschaengelsche opened #3834 "Nextcloud not syncing a folder "access denied""
Hi everyone,

The nextcloud Window 10-client should sync two main folders. One is synced whereas the other folder is not synced: "Access denied." /"Zugriff verweigert". Both the Windows client and the nextcloud server are fresh installations from yesterday/today / (24-09-2021). Both folders are synced with the Mega- cloud and the Synology Drive client. Shutting down both applications did not help.

[2021-09-24 12:49] mgallien commented on #3831
Will be fixed once https://github.com/nextcloud/desktop/pull/3799 is merged
I am going to do it very soon

[2021-09-24 19:14] victualsquid commented on #2610
I have a similar problem with the client not recovering after timeout.
Here the cause is that my desktop is not connected to the network while logging into X. If the client autostarts before the machine is connected to the network, even if only by a few seconds, it never recovers.
Client version is 3.3.4, but it also happened with the previous version. Obviously the actual nextcloud install has no

[2021-09-25 02:55] magneticflux- commented on #3790
Still an issue with Nextcloud Client 3.3.4.

[2021-09-25 02:59] magneticflux- commented on #3790
Just checked the application error in Event Viewer:
[code]

Possibly related to https://github.com/nextcloud/desktop/issues/3349, https://github.com/nextcloud/desktop/issues/3568, and/or https://github.com/nextcloud/desktop/issues/3828.

[2021-09-25 06:34] NaofumiHonda commented on #3796
I confirmed that  #3832 resolves the problem. Thanks!

[2021-09-25 06:34] #3796 closed

[2021-09-25 11:32] antonio-rojas commented on #3781
This is still not fixed in 1.3.4 when building from source. The plugins are installed in some PLUGINDIR path which is nowhere defined

https://github.com/nextcloud/desktop/blob/master/src/libsync/vfs/suffix/CMakeLists.txt#L29

[2021-09-25 19:36] getle87 commented on #3584
Problem still exists in 3.3.4

[2021-09-26 06:42] tim-pearce opened #3836 "Keyring failure on Artix Linux"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-09-27 02:31] wcb33 opened #3837 "Support direct renaming of folders"
Support direct renaming of folders, according to the current performance of the client, you need to rename the files inside the folder one by one. The speed is very slow. But the renaming operation in the web interface is very fast.

[2021-09-27 07:20] maximelehericy commented on #3831
Great ! Thanks :)

[2021-09-27 07:22] mgallien commented on #3781
yes and sorry for that
we wanted to fix it but had no time finding the proper combination that would work for all platforms

[2021-09-27 07:54] zchap26 commented on #2205
Does your use of the official Debian packaging files mean that the resulting packages would by definition be compatibile with Debian the distribution?

[2021-09-27 08:10] Chuanbin-Wang commented on #3837
And when rename by web interface, the client need sync all subdirectory and all files. it's understanding. why not just rename the folder?

[2021-09-27 08:20] sbrouchi opened #3838 "no way to mediate conflict"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

Hi, i'm t

[2021-09-27 08:34] ivaradi commented on #2205
Yes, they should be, though they might have diverged a bit since the official files.

But note, that the packages for Debian Testing are available in the OpenSuse Build Service: https://build.opensuse.org/package/show/home:ivaradi:alpha/nextcloud-desktop.testing or https://build.opensuse.org/package/show/home:ivaradi/nextcloud-desktop.testing, the PPA is meant for Ubuntu mainly.

[2021-09-27 09:27] FlexW opened #3839 "Client checks to many directories during discovery"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-09-27 09:36] FlexW commented on #3834
You can create a debug archive when you go to the Settings Dialog then to the General tab and then click on the button "Create Debug archive...". Keep in mind that it is not supported to use multiple sync clients in the same folder. That can cause issues.

[2021-09-27 09:40] #3834 closed

[2021-09-27 09:41] FlexW commented on #3772
I can confirm that.

[2021-09-27 09:51] pb-businessacts opened #3840 "nextCloudCmd throws error 'Sqlite exec statement error: 5 "database is locked"'"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-09-27 09:52] FlexW commented on #3287
Related pr https://github.com/nextcloud/desktop/pull/3827

[2021-09-27 09:54] FlexW commented on #3191
I think they should be deleted. There is no point in keeping them.

[2021-09-27 09:59] FlexW commented on #3024
We decided for craft.

[2021-09-27 09:59] #3024 closed

[2021-09-27 09:59] #3011 closed

[2021-09-27 09:59] #2956 closed

[2021-09-27 10:00] FlexW commented on #2953
I will close that issue for now.

[2021-09-27 10:00] #2953 closed

[2021-09-27 10:02] #2911 closed

[2021-09-27 10:03] FlexW commented on #2210
I will close that ticket for now because there seems to be no progress. Feel free to open it again.

[2021-09-27 10:07] FlexW commented on #1916
Is there still anything to address in this issue? If yes, feel free to open it again.

[2021-09-27 10:07] #1916 closed

[2021-09-27 10:08] FlexW commented on #1728
Is there still anything to address in this issue? I have no trouble connecting to an SSL server.

[2021-09-27 10:08] #1728 closed

[2021-09-27 10:10] allexzander commented on #3409
https://github.com/nextcloud/server/pull/27378

[2021-09-27 10:15] FlexW commented on #1181
Is this still relevant? If yes, please reopen the ticket.

[2021-09-27 10:15] #1181 closed

[2021-09-27 10:17] FlexW commented on #1151
The desktop client can be started like any other application on Linux.

[2021-09-27 10:17] #1151 closed

[2021-09-27 10:18] allexzander commented on #3097
Currently we don't have time for this and there is no benefit of spending it for this ticket.

[2021-09-27 10:52] FlexW commented on #1124
As this sounds like a nice feature, the requests for this are quite low. Currently, there are no plans to implement such a feature. Thus I will close this ticket for now. This does not mean we don't want this feature, but it is simply not on our roadmap for the near future. If somebody wants to implement this feature nevertheless we are happy to assist and help out. If you wish to have this featur

[2021-09-27 10:52] #1124 closed

[2021-09-27 10:53] FlexW commented on #1106
Does the issue still apply? If yes, please reopen it.

[2021-09-27 10:53] #1106 closed

[2021-09-27 10:54] FlexW commented on #1098
Does the issue still apply? If yes, please reopen it.

[2021-09-27 10:54] #1098 closed

[2021-09-27 10:55] FlexW commented on #1091
Does the issue still apply? If yes, please reopen it.

[2021-09-27 10:55] #1091 closed

[2021-09-27 10:59] FlexW commented on #936
Does this issue still apply?

[2021-09-27 11:00] FlexW commented on #913
I think that issue does not apply anymore. The building works fine. Feel free to reopen the issue if think different.

[2021-09-27 11:00] #913 closed

[2021-09-27 11:02] FlexW commented on #899
Does the issue still apply?

[2021-09-27 11:03] FlexW commented on #862
As this sounds like a nice feature, the requests for this are quite low. Currently, there are no plans to implement such a feature. Thus I will close this ticket for now. This does not mean we don't want this feature, but it is simply not on our roadmap for the near future. If somebody wants to implement this feature nevertheless we are happy to assist and help out. If you wish to have this featur

[2021-09-27 11:03] #862 closed

[2021-09-27 11:04] FlexW commented on #837
Does this issue still apply?

[2021-09-27 11:04] FlexW commented on #829
As this sounds like a nice feature, the requests for this are quite low. Currently, there are no plans to implement such a feature. Thus I will close this ticket for now. This does not mean we don't want this feature, but it is simply not on our roadmap for the near future. If somebody wants to implement this feature nevertheless we are happy to assist and help out. If you wish to have this featur

[2021-09-27 11:04] #829 closed

[2021-09-27 11:06] FlexW commented on #815
@jancborchardt @jospoortvliet @camilasan What is the status of this? Should we close this issue?

[2021-09-27 11:08] FlexW commented on #762
Does the issue still apply?

[2021-09-27 11:09] FlexW commented on #505
As this sounds like a nice feature, the requests for this are quite low. Currently, there are no plans to implement such a feature. Thus I will close this ticket for now. This does not mean we don't want this feature, but it is simply not on our roadmap for the near future. If somebody wants to implement this feature nevertheless we are happy to assist and help out. If you wish to have this featur

[2021-09-27 11:09] #505 closed

[2021-09-27 11:10] FlexW commented on #428
As this sounds like a nice feature, the requests for this are quite low. Currently, there are no plans to implement such a feature. Thus I will close this ticket for now. This does not mean we don't want this feature, but it is simply not on our roadmap for the near future. If somebody wants to implement this feature nevertheless we are happy to assist and help out. If you wish to have this featur

[2021-09-27 11:10] #428 closed

[2021-09-27 11:14] FlexW commented on #1188
Does the issue still apply? If yes, feel free to open it again.

[2021-09-27 11:14] #1188 closed

[2021-09-27 11:16] FlexW commented on #1627
Does the issue still apply? If yes, feel free to open it again.

[2021-09-27 11:16] #1627 closed

[2021-09-27 11:16] FlexW commented on #1603
@tobiasKaminsky Does this still apply?

[2021-09-27 11:22] elsiehupp commented on #3024
@FlexW could you link to a related issue or PR for craft? thx

[2021-09-27 11:24] FlexW commented on #1594
Does the issue still apply? If yes, please reopen it.

[2021-09-27 11:24] #1594 closed

[2021-09-27 11:25] FlexW commented on #1340
Does the issue still apply? If yes, please reopen it again.

[2021-09-27 11:25] #1340 closed

[2021-09-27 11:26] FlexW commented on #1469
Does this issue still apply? If yes, feel free to open it again.

[2021-09-27 11:34] FlexW commented on #3024
For example https://github.com/nextcloud/desktop-client-blueprints/tree/master/nextcloud-client and https://github.com/nextcloud/desktop/commits/master/appveyor.yml

[2021-09-27 11:36] FlexW commented on #3840
Is your nextcloud client running? You probably need to stop it. The database gets locked exclusively by it.

[2021-09-27 11:37] pb-businessacts commented on #3840
No, nextCloudClient is not running on this machine.

[2021-09-27 11:40] jancborchardt commented on #815
We have it in the right-click menu, but the sharing dialog doesn't have it like the web interface or mobile apps, where "Internal link" is an extra entry.

For feature parity that would be the 100% solution. :)

[2021-09-27 11:42] elsiehupp commented on #3024
Thanks. Is there a related comment thread for those, though? Hence why I asked for an issue or pull request, since those tend to include more commentary and explanation. (I could probably dig up the pull requests from the Git history, but I don’t remember how to do so at the moment.)

[2021-09-27 11:46] martijnvandijk commented on #3444
This just bit me too. Deleted close to 40k files from my server before I noticed.

[2021-09-27 12:15] FlexW commented on #3830
Just for the record: That only happens with root folders.

[2021-09-27 12:23] #3107 closed

[2021-09-27 12:36] FlexW commented on #3024
No, there is no comment thread. What explanation do you need?

[2021-09-27 12:44] r2evans commented on #2210
Close it because management does not expect to fulfill this feature request (with an explanation, please). Close it because it conflicts with something else (a reference to the conflict is always nice). But when the company has 500+ issues in this repo and 1000s across just a few of its other major repos, low-volume on some FR issues is to be expected.

Perhaps it would be better to ping those who

[2021-09-27 12:51] diditopher commented on #3444
I believe a similar issue exists with VFS disabled, possibly caused by long file paths with more then 260 characters.
Either way, when I rename specific folders on one client, the other client subsequently deletes all contents of the newly renamed folder.

There are also reports of the client deleting files from the server if the clients disk runs out of free memory.

I think the underlying issue

[2021-09-27 14:06] mauzil commented on #3836
I have the same problem with Xfce.
When I login from lightdm, a dbus-daemon process goes to zombie

[2021-09-27 16:47] ChrislyBear-GH commented on #3349
I'm getting the same error when using virtual files on Windows 11, Version 21H2, Build 22000.194 and Nextcloud 3.3.4 stable win64, build 20210920.
I don't get the error on a different machine, also using virtual files and running Windows 10, Version 21H1, Build 19043.1237 and Nextcloud 3.3.2 stable win64, build 20210826!

I hope this helps with tracking down the issue.

[2021-09-27 17:14] BloodyIron commented on #1469
Yes it still applies. Why did you close right when you asked the question? Re open please. The desktop client clearly doesn't comply with version history. Did you even test this before asking? >:(

[2021-09-27 17:33] jancborchardt commented on #2210
My comment still stands: https://github.com/nextcloud/desktop/issues/2210#issuecomment-661018180

It should bubble up, no hybrid icon.

[2021-09-27 20:28] #3287 closed

[2021-09-27 21:19] elsiehupp commented on #3024
I mean, are there updated build instructions because of this, or anything like that?

[2021-09-27 21:35] #3097 closed

[2021-09-28 06:00] tobiasKaminsky commented on #1603
NSI is the old installer ".exe", right?
As we do not do this any longer, we do not need this.
(we do might need this for certain customers, so we cannot get rid of nsi currently)

[2021-09-28 06:00] #1603 closed

[2021-09-28 06:19] jroussay commented on #3493
It's working now.
Thanks

[2021-09-28 06:19] #3493 closed

[2021-09-28 07:39] FlexW commented on #3024
No, it's early. You should build like before.

[2021-09-28 07:42] FlexW commented on #2210
Thanks, @jancborchardt @r2evans for the feedback. Is there then anything left to do? From my understanding, everything works as expected.

[2021-09-28 07:46] FlexW commented on #1469
Okay, could you then please clarify what you mean by "desktop app breaks version history"? For me, it is not clear if you request a future or report a bug. Could you please specify the steps to reproduce the bug (if it's a bug) or explain what the current behaviour is and what behaviour is wished (in case it's a feature request). Thank you.

[2021-09-28 07:50] FlexW commented on #3837
Do you mean if you rename a folder with files in it, all files get synced again instead of just performing a move of the folder on the server?

[2021-09-28 07:56] Chuanbin-Wang commented on #3837
Yes. And when sync done, in the web Activity page, just see the folder rename,

[2021-09-28 08:02] FlexW commented on #3837
Thank you. Then it is a bug :)

[2021-09-28 13:19] elsiehupp commented on #3024
Oh, okay. Thanks. Just, when you do release it, please do update the documentation. I might be able to help with build instructions again, if you’d like.

[2021-09-28 14:37] r2evans commented on #2210
What do you mean by *"works as expected'*? If you think that the above discussion about mixed-status icons is somehow implemented, then I'm really missing something. Currently on the 3.3.4 desktop client (win10), I have paused one connection and kept the other active, and the main icon is full-green (as if all connections were enabled), and the one that is paused is showing active in the tray popu

[2021-09-28 23:18] FlexW opened #3843 "Tray icon does not show pause if only one account is paused"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-09-28 23:20] FlexW commented on #2210
@r2evans I guess the hybrid icon approach will never be implemented because of the reasons that @jancborchardt and @jospoortvliet gave. For the issue that the pause state (and maybe others) are not bubbling up, I  created another issue to keep the issue focused. See https://github.com/nextcloud/desktop/issues/3843

[2021-09-29 03:31] vasyugan commented on #3515
I currently cannot reboot the computer into Windows because it is busy with a lengthy deduplication operation of a 6GB btrfs file system on a mechanical hard disk. This seems to take forever.

I will reboot into Windows and try as soon as I can.

[2021-09-29 03:47] vasyugan commented on #3814
I'll check with the latest version today. I have seen this literally for years. Would be great if it were fixed now. I a m using the [KStatusNotifier](https://extensions.gnome.org/extension/615/appindicator-support/) extension, which works fine for all other applications. Again, the pattern is that I have to kill and restart the sync client several times. Finally I get a normal Nextcloud systray i

[2021-09-29 10:08] mgallien commented on #3024
I have not yet had much time to look at the current state of building the desktop client using craft on MacOS but generally that would be mostly generic craft documentation
I have added a specific recipes repository for the recipes such that they are not in KDE's default repositories. The fact is that indeed there is no documentation. Sorry I will have to take care of that.
Once this is done, do y

[2021-09-29 18:29] elsiehupp commented on #3024
Sure! Since I helped with the documentation earlier, I can help with it again!

[2021-09-29 19:45] xbluemonkx commented on #2457
Hi,
just wanted to confirm that this bug still exists in the windows client version 3.3.4

[2021-09-29 20:43] isdnfan commented on #3731
I see pretty the same issue.. client crashes while syncing a PowerShell script which is blocked by Defender as HackTool:Win32/Mimikatz!dha - the detection is not wrong as the script is used to display this technique - but the client definitely should not stop and crash..

![image](https://user-images.githubusercontent.com/18125597/135344519-c05b80cd-7fe9-48e7-87a2-6b35b45d749f.png)

I see an error

[2021-09-29 21:02] isdnfan commented on #3731
actually after whitelisting the problematic file in Defender the sync worked for some more seconds but failed again without any visible issue. look like the last action is always ***cancel hydration***

Faulting module name: Qt5Core.dll, version: 5.12.10.0, time stamp: 0x5fa1244d
Exception code: 0xc0000005
Fault offset: 0x00000000001291ab
Faulting process id: 0x5580
Faulting application start time

[2021-09-30 03:01] tim-pearce commented on #3836
I found the problem. The upgrade from glib2.2.68.4 to 2.70.0 causes it.
On artix (and other Arch Linux based distros)
sudo pacman -U /var/cache/pacman/pkg/glib2-2.68.4-1-x86_64.pkg.tar.zst (assuming you still have it)
On one PC I then had to go through the login process for each account again.

[2021-09-30 05:17] tobiasKaminsky opened #3845 "Combine sharing / activity as "file detail""
Would it be possible that we combine the window for Sharing and Activity into one, with tabs? Then it would be just like on web and Android/iOS.

Clicking the "Sharing" action anywhere would always open the window with the sharing tab open, and "View activity" would open the window with the "Activity" tab open.

cc @tobiasKaminsky since it’s regarding cross-platform experience.

_Originally posted

[2021-09-30 05:21] tobiasKaminsky commented on #3845
New file activity:
![image](https://user-images.githubusercontent.com/5836855/135391794-3f47d90e-2948-4130-b126-3f43301b5768.png)

Sharing dialog is well known :)

If something is not clear, please discuss it with designers (maybe even with mockup), before working on it :)

[2021-09-30 05:25] tobiasKaminsky opened #3846 "Cleanup option menu"
With new activity (#3329) we have one entry more.
![image](https://user-images.githubusercontent.com/5836855/135392090-a5474196-52f1-4c24-bded-dd4139933354.png)

With https://github.com/nextcloud/desktop/issues/3845 we can combine things again.

I suggest to shrink it to
- open in browser / edit (if file can be edited directly, e.g. txt)
- share option (show share tab, with possibility to share pu

[2021-09-30 06:22] tobiasKaminsky opened #3847 "Query lookup server"
Query lookup search needs to be opt-in as it is now, but we should enhance the way:

Desktop it is not clearly visible how to do it
![image](https://user-images.githubusercontent.com/5836855/128337116-68534a88-00e3-4ad5-a7c9-bc26e4ecf9bf.png)

Discussed with @jancborchardt @nimisha-vijay
![image](https://user-images.githubusercontent.com/5836855/128337195-869b0d6e-2f05-47ff-b4b5-506860d43ead.png)

[2021-09-30 06:22] mauzil commented on #3836
Well done. It's work
Good job

[2021-09-30 06:26] tobiasKaminsky opened #3848 "Implement expiration date for federated shares"
Ref: https://github.com/nextcloud/files-clients/issues/5
Since NC 22

[2021-09-30 06:36] tobiasKaminsky opened #3849 "Enhance dll loading on Windows"
See https://github.com/nextcloud-gmbh/h1/issues/186

[2021-09-30 07:48] mgallien commented on #3849
@tobiasKaminsky  when attaching to the nextcloud.exe from official release binaries, I do not see the dll mentioned in this report.
I will comment back on the h1 issue directly

[2021-09-30 07:58] mgallien commented on #3849
![image](https://user-images.githubusercontent.com/168967/135411738-c7b018ac-6238-4ee6-8fb0-0844355a6ca7.png)

[2021-09-30 08:35] mgallien commented on #3772
yes we kill explorer to be able to remove or replace the shell extensions dll
how is this a problem ?
what is the impact ?

[2021-09-30 08:46] mgallien commented on #3406
Thanks for your proposition of help
Sorry for the long time with no reply

I would say yes

again yes especially because I do not think many software already use ~/.local/state (I only see files from pipiwire on my system)

You should also test that creating a debug archive for example still work as intended

[2021-09-30 08:46] mgallien commented on #3406
@franga2000 https://github.com/nextcloud/desktop/issues/3406#issuecomment-931056464

[2021-09-30 09:22] jancborchardt commented on #3846
So actually as far as I remember, the two "Copy link" options are actually the things I mostly used in the menu. This is why I’m not sure if it’s good to remove, also regarding regression.
Also there are 2 entries for Virtual Files

I see 2 possible options here:
- **Either we simplify completely**, and in that case it might be best if we just have the "Nextcloud" entry in the right-click menu whi

[2021-09-30 09:35] Erlkoenig90 commented on #3830
For me, this also happens with non-root folders. I am trying to sync my entire home directory (`/home/erlkoenig`), and have the following ignore list entries:
[code]
But the client still insists on uploading this directory which includes large log files. Which of these four lines is the correct one, anyways?

Client Version: 3.3.4

[2021-09-30 10:28] mgallien opened #3852 "Enhance desktop client build system to build universal binaries for MacOS"
Current state is that we build architecture specific binaries for Intel based machine running MacOS.
To get the best support for Apple M1, we need to build universal binaries that would work on both architecture.
We are currently missing a proper build of OpenSSL that can be used from the desktop client.
Scripts are almost there to build a proper universal binaries but we need to finish the work.

[2021-09-30 10:29] mgallien commented on #3852
sub task of #2659

[2021-09-30 10:31] mgallien opened #3853 "Setup build infrastructure to build desktop client universal binaries for MacOS"
We need to setup build infrastructure to build desktop client universal binaries for MacOS.
That is our Brander builder that would need to be setup on an Apple M1 machine to build universal binaries for release of desktop clients.

[2021-09-30 10:32] mgallien commented on #3853
sub task of #2659

[2021-09-30 10:35] mgallien opened #3854 "Integrate the build process of MacOS universal build in our release processes"
Integrate the build process of MacOS universal build in our release processes.
This depends on #3852 and #3853

[2021-09-30 10:35] mgallien commented on #3854
sub task of #2659

[2021-09-30 11:10] FlexW opened #3855 "Release 3.3.5"
### :memo: TO DO
 - [x] :arrow_up: Bump VERSION.cmake to 3.3.5 and doc/conf.py (release to 3.3.5) in the corresponding stable branch
 - [x] :label: Create tag from corresponding stable branch on the commit introducing the version bump
[code]
- [x] :label: Create tag from corresponding stable branch in client-building. Steps to create the tag are the same as the above.
- :factory: Trigger the build

[2021-09-30 13:12] #3855 closed

[2021-09-30 13:48] mgallien commented on #1321
@tobiasKaminsky interesting future feature

[2021-09-30 16:20] georgmittendorfer commented on #1716
Just for reference in case someone stumbles over this issue: on my Debian system (11 with i3wm) I had to install the package `libsecret-tools` to make the client authentication work. Before that I had to authenticate on every start.

[2021-09-30 16:42] ScarUY commented on #3244
I'd like to know more! I do need those .lnk files! (currently I'm trying to keep my company's workflow with batch scripts, it's making me hate my life) My team is starting to regret nextcloud and want to go back to owncloud, please help me disuade them, bring back the lnk!

[2021-09-30 22:26] chris246 opened #3858 "ISRG Root X1 Certificate not trusted"
Hi,

for some reasons, Nextcloud Desktop started throwing errors today about being unable to securely connect to my server that uses a valid Let's Encrypt certificate signed by _R3_ (intermediate) and  _ISRG Root X1_  (root certificate).

Visiting Nextcloud via Browsers (Firefox, Edge, Internet Explorer) all works on the same PC.
On a different PC, the issue resolved itself after updating to Nextc

[2021-09-30 23:34] heeplr commented on #3858
Happening here as well. Also german Windows 10 Systems but 2.6.2stable-Win64 (build 20191224) and 3.2.3 seem unaffected.

[2021-10-01 01:40] #3691 closed

[2021-10-01 06:12] aPollO2k commented on #3858
Ich have the same issue. Only with the nextcloud client. I use the certificate in Browsers, Mail Clients, FTP Servers with no issues. But Nextcloud client prints this warning.
![grafik](https://user-images.githubusercontent.com/5796295/135573140-92f8cfa5-1b40-4b6e-b72c-3d7ef735c7f1.png)

My Workaround is to remove the old DST Root CA X3 Certificate from the Chain (WARNING: This breaks the compatib

[2021-10-01 06:41] megmug commented on #3858
On my windows machines, I see the same problem. Interestingly, on my Ubuntu desktop with Nextcloud Client 3.3.4 it still works.

[2021-10-01 07:09] georgmittendorfer commented on #1236
I do have the same issue with Debian (current testing) and desktop client 3.3.3. I have gnome keyring and libsecret installed.

After authenticating the client logs out again after about five minutes. From the log file (I logged in at approx 08:34:50. I replaced the name of the server and my user with some dummy data):

[code]

especially:
[code]

Strange thing is I did not have this issue before

[2021-10-01 07:22] martin-rueegg commented on #3858
Same here. My workaround - after verifying the fingerprint - was to trust the certificate anyway (needs to be done for every client installation and for every linked account therein separately).

SHA256-Fingerprint of the cross signed certificate can be done as follows:

[code]

[2021-10-01 07:25] ElchWG commented on #3858
I have the same problem on my Windows machine with client version 3.3.4 and we don't even use Let's Encrypt on our server installation. We have a valid DigiCert wildcard certificate for our domain. Access via browser works fine with that certificate.

I also found a workaround for an older version (2.x.y-ish) of the desktop client in the german help forum (see https://help.nextcloud.com/t/ungultig

[2021-10-01 07:56] Quix0r opened #3859 "SSL handshake faled: old certificate still used by both desktop and Android client"
### Expected behaviour
The client continues to use the updated (not expired) certificate as the browser does.

### Actual behaviour
The client refuses to connect to "expired" certificate while it is clearly updated on server-side (December 29, 2021) and browsers like Firefox can connect to.

### Steps to reproduce
1. Run Nextcloud server with soon-expiring certificate (e.g. from LE)
2. Let it expi

[2021-10-01 08:02] Quix0r commented on #3859
You can check my certificate setup by accessing https://cloud.mxchange.org/status.php or doing a SSL check on SSLLabs' validator.

[2021-10-01 08:20] vekin03 commented on #3858
Same here.

Since yesterday, my NextCloud client (3.3.4) on Windows 10 display an error regarding my (Let's Encrypt) certificate.

I tried to force renew the certificate, reboot the server (Debian 9), install the last updates... but nothing works.

In the meantime, the web UI of NextCloud works without warning and so for the Android app.

[2021-10-01 08:35] Quix0r commented on #3859
I think it is on LE's side?
[code]

[2021-10-01 08:49] qupfer commented on #3858
on the website, there is now an new version 3.3.5 which seems to fix the issue

[2021-10-01 08:52] Quix0r commented on #3859
I guess that's the issue. My script still took the cross-signed which has [retired](https://letsencrypt.org/certificates/).

[2021-10-01 08:52] #3859 closed

[2021-10-01 08:53] chris246 commented on #3858
This only fixed the issue on one PC for me, on the other I still get the error...

[2021-10-01 08:55] msklywenn commented on #3858
Updating to 3.3.5 didn't fix the issue for me.

[2021-10-01 09:04] ph00lt0 commented on #3858
Issue seems only to appear on windows clients.

[2021-10-01 09:14] jobec commented on #2728
It would be great to get this fixed. As mentioned in #1875 this is very very annoying.
Been scratching my head again for a few hours trying to figure out why the hell some folders got ignored and others didn't. 🤯

[2021-10-01 09:19] FlexW commented on #3858
Just to let you know. We are working on a fix for that.

[2021-10-01 09:27] FlexW commented on #3732
Just for the reference. The link in the settings menu is now clickable https://github.com/nextcloud/desktop/pull/3821

[2021-10-01 10:33] arrowd commented on #2728
Interestingly, this functionality does work on Windows.

[2021-10-01 10:43] jobec commented on #2728
Yes and no...
I'm also on Windows. And the ignore function works. But only the global ignore settings. Those per sync setting do not.
And I'm in a situation where I need to ignore some files in sync setting A, but include those in sync setting B.

[2021-10-01 11:21] ghost opened #3860 "Nextcloud chooses older files by default when re-creating a folder sync"
Hi

I'm ~~pretty pissed~~ immensly relieved right now. I'm not sure where to report this so I'll do it here.

I have my computer synced up to a fileserver with nextcloud.
There was an update to the client available, so I installed it.
There were a few updates available since after updating I was prompted to update again.
I did this over the course of a few days.
Then I didn't realise that my sync

[2021-10-01 11:50] jheyens commented on #3858
This also breaks the auto updater. The domain "updates.nextcloud.org" is also signed using an LE certificate rooted in ISRG Root X1. You won't be able to push the update to affected Windows users, unless you temporarily switch to another trusted certificate on at least the domain "updates.nextcloud.org"

[2021-10-01 12:00] FlexW commented on #3860
How did you add the sync folder again? Normally if you set up a folder which contains files, Nextcloud will ask you if you want to keep the files or not.

[2021-10-01 12:23] FlexW commented on #3858
The people having problems, do you have the ISRG Root X1 certificate installed in your certificate store on Windows? You can find out if you type certmgr into the Windows search and then open the folder "Trusted Root Certification Authorities" -> Certificates and then look after the ISRG Root X1 certificate.

[2021-10-01 12:25] andresgunn commented on #3860
I just clicked the "Add folder sync connection" button in the client, and then chose a local folder and remote folder just like I usually do.
Therefore I wasn't so concerned that anything unexpected would happen.

However, I just now discovered that it seems that for all of these files, a "conflicted copy" file was created that contains the newer version. So it seems that no data was actually lost

[2021-10-01 12:27] jheyens commented on #3858
Yes.

[2021-10-01 12:38] jheyens commented on #3858
![SnipImage](https://user-images.githubusercontent.com/18119154/135620551-08520151-4aac-405d-9625-319b0d0e8595.JPG)

[2021-10-01 12:39] UeliDeSchwert commented on #3858
I don't have a trusted root CA named "ISRG Root X1" (or anything with ISRG for that matter) in my trusted root CAs, but I have the same problem with the nextcloud client.

This certificate, however, is there in Firefox. Might this have any influence?

[2021-10-01 12:45] FelixSchwarz commented on #3858
I had the problem but it is gone now after installing Windows updates.

However I think I can tell what changed so maybe this is helpful:

- Previously in `certmgr.msc` (like 1h ago) I did not see "ISRG Root X1" in "Trusted Root Certification Authorities" but only in "Drittanbieter-Stammzertifizierungsstellen" ("Third-party Root Certification Authorities"?).
- I could access web sites with Let's E

[2021-10-01 12:50] jheyens commented on #3858
That seems to solve the issue here, too.

[2021-10-01 12:56] theOehrly commented on #3858
Yes, you're right. It's suddenly fixed now without even restarting Windows. If it was a Windows update, then it was applied automatically in background for me.
I do have "ISRG Root X1" in  "Trusted Root Certification Authorities" now. I don't know if it was there before.

[2021-10-01 12:58] jheyens commented on #3858
I may have looked into the system store during/shortly after the application of the update.

I did not need to restart the Nextcloud Client.

[2021-10-01 13:01] FelixSchwarz commented on #3858
The Windows updates may be a red herring though: [ISRG Root lazy loading problem + missing from (random) updated Windows 10 versions](https://community.letsencrypt.org/t/isrg-root-lazy-loading-problem-missing-from-random-updated-windows-10-versions/141550/31).

Basically what is said in the Let's Encrypt forum is that the ISRG root certificate can be lazy-loaded into the  "Trusted Root Certificati

[2021-10-01 13:03] UeliDeSchwert commented on #3858
@FelixSchwarz I think I can approve what you just said: I did not have ISGR Root X1 in `certmgr.msc`, then I used Edge to access a page that uses a LE-Cert, and now the ISGR Root X1 is there in the certmgr.msc

[2021-10-01 13:04] theOehrly commented on #3858
@FelixSchwarz I checked my windows update history and you are correct. There were no recent updates applied.

[2021-10-01 13:23] chris246 commented on #3858
Just took a look at my affected laptop (was shut down overnight, not rebooted):
ISRG Root X1 is now present in the windows certificate store and Nextcloud Desktop syncs again...

[2021-10-01 13:41] Tras2 commented on #3858
I agree that the fix is to use Edge to browse to https://valid-isrgrootx1.letsencrypt.org/ which causes the new root certificate to be trusted.

I believe its the "Cryptographic Services" service which updates the trusted root store dynamically

[2021-10-01 13:54] dirkpape opened #3862 "private link and open Browser API not compatible with owncloud client 2.9 and above"
### Steps to reproduce
use owncloud destop client 2.9 on macos X to connext to nextcloud server.
in MacOS X Finder use one of the context menu items "Open in Browser" or "Copy private Link" on a file or folder which ist synced to nc

### Expected behaviour
Browser opens in nextcloud at the given file/folder in nexcloud space or
private link URL ist copied to clipbioard

### Actual behaviour
both d

[2021-10-01 15:04] mgallien commented on #3858
@FelixSchwarz @UeliDeSchwert and others thanks a lot for your help in better understanding the issue
I guess there is not much we can do within the desktop client to fix that

[2021-10-01 15:14] FelixSchwarz commented on #3858
@mgallien Well, if Edge can trigger the migration maybe the desktop client could do that as well?

[2021-10-01 15:22] grodrigo commented on #3144
The same for me with newest version
`Nextcloud version 3.3.5-20210930.171550.0d9a6987e-1.0~focal1`
If I remove one file it syncs ok, but when removing all files from the source folder (with the exception of the .sync_ files) it hangs on
`All the files are going to be changed, asking the user`

[2021-10-01 15:42] jtagcat commented on #3505
un
stale

[2021-10-01 19:39] TomFuch commented on #3349
Also Same Error on Windows Server 2019 with Client 3.3.5 when virtual Files are enabled. Without virtual Files the Client works normal…

[2021-10-02 08:08] zchap26 commented on #2205
Unfortunately,  Download package results in:

```No data for home:ivaradi / nextcloud-desktop.testing```

Regards

[2021-10-02 08:59] ivaradi commented on #2205
You need to add the repository to `sources.list`, like:

 `deb https://download.opensuse.org/repositories/home:/ivaradi/Debian_Testing /`

You might also need to download the release key:

[code]

[2021-10-02 09:02] tomtomx3 commented on #3349
Same Problem on Windows 11 Pro Version: 10.0.22000 Build 22000. Problem presists in my Desktop Win 10. Only with Virtual files enabled. I've tried it with an older version of cldapi.dll than it don't crashed anymore but it gave me a lot of Errors that say couldn't create Placeholder.

[2021-10-02 09:03] Gomez commented on #3858
We at https://portknox.net (Nextcloud hosting provider) decided to remove the "DST Root CA X3" certificate from your chain. Looks like this solves the issues with clients (and the Joplin app),  but could make problems on older devices/software.

On Debian:
- In `/etc/ca-certificates.conf` add a "!" before `mozilla/DST_Root_CA_X3.crt`
- Run `update-ca-certificates` (one cert should be removed)
- Ma

[2021-10-02 15:37] isdnfan commented on #3444
recently noticed #3731 - the client stops sync cycle if a file blocked by AV program - all good (despite the fact it crashes) - something similar *must* happen for other problems - if the sync fails for some reason inform the user and stop until the problem is fixed.

[2021-10-02 15:49] isdnfan commented on #3828
I recognize this behavior as well - most often the client crashed before, only the icon remains in the notification bar until the user points to it. at least this happened on my machine when I hit #3731 problem.

[2021-10-02 16:22] BloodyIron commented on #1469
It's actually very self-explanatory.

Considering the core function for nextCloud is the Files function, that alone should suggest what exactly I mean by versioning, but here I'll clarify the obvious.

When I go into the web interface for nextCloud, and go into "Files", and then look at the additional info on files, there's "Versions" that I can revert to of files that were changed through the web

[2021-10-03 09:52] wonx opened #3864 "Segmentation fault when enabling virtual filesystem in 3.3.5 (Ubuntu)"
### Expected behaviour
Today I tried to enable the virtual filesystem in Nextcloud my Ubuntu 20.04 system. I added the showExperimentalOptions=true in nextcloud.cfg and restarted the client. Then I clicked on "Enable virtual file support (experimental)" in the client. At that point, it immediately closes.

I don't know at what version it started happening, but it used to work in the past, and now

[2021-10-03 17:20] leolivier commented on #3858
My 2 cents: I had the same issue and after visiting the  https://valid-isrgrootx1.letsencrypt.org/, the certificate was installed but I had to **restart** the nextcloud desktop client to get it working again.

[2021-10-03 17:59] megmug commented on #3858
Same for me. I think it would be worth trying to find out how the nextcloud client could trigger the same effect by itself.

[2021-10-03 20:52] viendocraz commented on #2728
Also on Windows and experiencing this issue with v3.3.5. Folder Sync excludes are ignored at the root level but global excludes are working, which is fine as a temporary workaround but I'm hoping for a fix to make it work better!

[2021-10-03 21:04] EVOTk commented on #3858
Thank you for the explanation.
For French users, I made an explanatory note of the procedure here: [[Mémo] Régler le soucis du certificat DST Root CA X3 expiré](https://www.forum-nas.fr/threads/m%C3%A9mo-r%C3%A9gler-le-soucis-du-certificat-dst-root-ca-x3-expir%C3%A9.16921/)

[2021-10-04 00:41] thedogsrag opened #3865 "BSOD after installing new client"
Hi

After installing the new nextcloud desktop client and setting up a sync I get consistent bluescreens when logging into my Windows 10 machine (Lenovo E495). It was previously fine with much older versions.

The bluescreen is occurring in the realtek wifi driver according to the crash dumps due to a watchdog timeout.

Without nextcloud being installed the bluescreens don't occur.

While it does

[2021-10-04 02:16] mia-cx commented on #3550
issue still relevant in latest release of nextcloud desktop.
i hadn't had the opportunity to try the potential fix but have time to try stuff again.

[2021-10-04 02:18] mia-cx opened #3866 "Virtual Files (wincfapi) crashes nextcloud desktop upon sync."
issue still relevant in latest release of nextcloud desktop (3.3.5 (Windows)).
i hadn't had the opportunity to try the potential fix but have time to try stuff again.

_Originally posted by @mia-cx in https://github.com/nextcloud/desktop/issues/3550#issuecomment-933091311_

[2021-10-04 06:24] leolivier commented on #3858
@EVOtk, great but you didn't say the link has to be fetched with Edge to be sure to download the certificate (e.g. it won't work with Firefox)

[2021-10-04 06:43] EVOTk commented on #3858
Hello,
@leolivier thx you for the comment.
I will add to be note. On the other hand I am surprised because I did it on several PCs including 2 via Firefox without worries.

[2021-10-04 07:10] leolivier commented on #3858
I was referring to some comments above saying that Firefox is not using the windows certificate store but it's own one

[2021-10-04 07:50] FlexW commented on #3866
Duplicate of  #3550.

[2021-10-04 07:50] #3866 closed

[2021-10-04 07:55] FlexW commented on #3864
That crash probably happens because the vfs plugins are not packaged correctly. Could that be the case @ivaradi (See also how we copy explicitly the vfs plugins to the correct location in the AppImage packaging process https://github.com/nextcloud/desktop/blob/087b9084452793407a5cdc72bd772db66968efb5/admin/linux/build-appimage.sh#L53)

Having said that, AppImage is the only package we official sup

[2021-10-04 07:55] #3864 closed

[2021-10-04 07:57] FlexW commented on #3862
That repository is about the Nextcloud client and not the ownCloud client.

[2021-10-04 07:57] #3862 closed

[2021-10-04 08:21] haarp opened #3867 "App main dialog not visible/behind other windows on Linux Xfwm4"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

The app's

[2021-10-04 08:37] #3525 closed

[2021-10-04 12:03] andresgunn commented on #3860
This will probably be a continuing headache for me for the months to come.
One of the problems is that the default sync option in the new client is the virtual file option.
So it actually removed a lot of files before I realized the mistake. Fortunately I've got some of them version controlled but for the ones that aren't I have possibly lost some of them.

After manually reviewing all the files i

[2021-10-04 12:17] rondadon commented on #3858
Interesting. Even after Updating Windows, restarting etc. the Problem was not resolved.
I needed to open MS Edge Browser and access a Website which uses LE-Certificate (for obvious reasons you could acces your Nextcloud instance from Edge) and onyl after that the "ISRG Root X1" Root Certificate was installed/listed in "certmgr.msc" under "Trusted Root Certificates" . So indeed it is a Windows Prob

[2021-10-04 14:13] mgallien commented on #3858
Thanks for letting us know about your procedure
That is an alternate way to solve it that could help organizations hosting Nextcloud.

[2021-10-04 14:15] mgallien commented on #3858
hard to say
I have no idea which API is needed to force Windows to trust the root certificate that is now the only valid one for let's encrypt certificates.

[2021-10-04 16:43] emichael commented on #3814
This has been happening for over a year for me. In my case, I typically only run into the problem the first time I start my system each day. Subsequent restarts seem to work fine.

In #1977, it was speculated that https://github.com/ubuntu/gnome-shell-extension-appindicator/pull/260 would fix the issue. This was not the case. I still saw errors being thrown by the appindicator extension, so I repo

[2021-10-04 16:59] emichael commented on #3814
Just in case anyone else is frustrated waiting on a fix, here's an incredibly hacky workaround.

Put this file in `~/.config/autostart/`

[code]

Replace the extension name with the right one from `gnome-extensions list` if you're not using the version from the gnome plugin repo.

[2021-10-04 18:18] sudoer commented on #2978
The top-of-the-hour focus-grab is still an issue in Nexcloud 3.3.5 on MacOS (Big Sur).

[2021-10-05 10:05] FlexW commented on #3830
@Erlkoenig90 but where is the `.sync-exclude.lst` file placed? Is it placed inside the root folder?

[2021-10-05 10:51] Erlkoenig90 commented on #3830
The `.sync-exclude.lst` is located in `/home/erlkoenig/.config/Nextcloud`, i.e. within the synchronized directory, exactly where the client placed it. Editing the ignore list via the settings dialog ("Edit Ignored Files") works fine. Interestingly, some files are sometimes successfully ignored, such as `.config/Signal`.

[2021-10-05 13:08] #3206 closed

[2021-10-06 06:25] GuillaumeGirardot opened #3872 "General settings button unaccessible when using many (6) accounts"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-10-06 07:41] splitt3r commented on #3858
What about pinning this issue for a month or so? So users of the client will find this issue quicker. And also adding the solution as a note to the original question?

[2021-10-06 07:56] mgallien commented on #3864
I have started https://github.com/nextcloud/desktop/pull/3869 but more work is needed

[2021-10-06 08:04] clemenlg commented on #3144
Same error with latest version:
Nextcloud version 3.3.5stable-Win64 (build 20210930)
Git revision 0d9a6987ebb0040b34451e51f54121dbd339ddf8
Using Qt 5.12.10, built against Qt 5.12.10
Using 'OpenSSL 1.1.1g  21 Apr 2020'
Running on Windows 10 (10.0), x86_64

[2021-10-06 08:19] chris246 commented on #3858
Thanks @splitt3r: I update the original question as suggested

[2021-10-06 08:25] LecrisUT commented on #2728
By now there is a strong consensus on the current behaviour on both MacOS, Windows and Linux, and it appears to be a bug in the code not any specific implementation. So it is no longer necessary to report this behaviour unless there is any changes.
## Observed behaviour
- In global `sync-exlcude.lst` all of the exclusion are properly recognized.
- On any `Floder Sync Connection`:
   - The root `sy

[2021-10-06 12:49] GuillaumeGirardot commented on #3872
EDIT : scrolling with the up/down keyboard arrows is working, but not with the trackpad/mouse.

[2021-10-06 13:05] FlexW commented on #3872
Related https://github.com/nextcloud/desktop/issues/3789

[2021-10-06 14:19] andyxheli commented on #3526
@mgallien any news on this issue?

[2021-10-06 17:00] andyxheli opened #3873 "Automatically Generate Password when sharing a file via link or email"
Hello it would be nice to have the client automatically generate a secure password when sharing a file via link or email

![image](https://user-images.githubusercontent.com/59488153/136249953-2c0685a1-4618-4d8b-8394-60e81b07b308.png)

[2021-10-07 01:42] AndyXheli opened #3874 "Desktop Client show incorrect time under activity"
Via web the activity is showing the correct time but under the desktop app is showing different both the server and desktops are on the same time zone

Desktop Client Picture
![image](https://user-images.githubusercontent.com/59488153/136307032-7557178e-9264-4d6d-a7a8-6906c3eaff48.png)

Via Web Picture
![image](https://user-images.githubusercontent.com/59488153/136306979-7934cb27-6dad-4c58-bb53-04

[2021-10-07 08:08] jmigual opened #3875 "[VFS] Error 0x80070185 after trying to sync when server not available."
### Context

This is a continuation of #3641.

I have my Nextcloud server behind a VPN thus every time I access it, I turn the VPN on and connect to the server. The Nextcloud Desktop for Windows app has some seconds where it tries to connect to the newly discovered server.

### Expected behaviour

When trying to open a cloud file A, it should either fail or wait for the server to be available.

##

[2021-10-07 11:04] Erlkoenig90 commented on #3830
I did a little debugging, and found out that the problem occurs in [ExcludedFiles::fullPatternMatch](https://github.com/nextcloud/desktop/blob/0d9a6987ebb0040b34451e51f54121dbd339ddf8/src/csync/csync_exclude.cpp#L510), where `_fullRegexDir` should match but doesn't. This appears to happen when there are too many exclude list entries.

To test it, I created a `sync-exclude.lst` with 2043 lines cont

[2021-10-07 13:48] Thatoo opened #3877 "Sync app for shared link"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you want to have the same feature implemented.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

[2021-10-08 01:39] #3720 closed, assigned to nobody

[2021-10-08 22:31] raversnet commented on #3550
That download link doesn't work.  Can you post an updated link so I can test the sync issue?  Thanks!

[2021-10-09 10:21] aviallon opened #3879 "[Windows 11] Client doesn't start at all"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-10-09 13:26] kesselb commented on #3382
Hey @FlexW,

sorry for my late reply. I don't think we include the url to download a file directly somewhere. It should be possible to generate the url to download a url if you know the token. filename is optional.

Show share: `/s/{token}`
Download share: `/s/{token}/download/{filename}`

https://github.com/nextcloud/desktop/blob/4992977167b8cfc2319a6f642d1c08c02cf4f670/src/gui/sharemanager.cpp#L

[2021-10-09 22:03] wasp38b commented on #3144
I have the exact same problem!
$ nextcloudcmd -v
Nextcloud version 3.3.5-20211009.154442.0d9a6987e-1.0~focal1
Using Qt 5.15.2, built against Qt 5.12.8
Using 'OpenSSL 1.1.1k  25 Mar 2021'
Running on Debian GNU/Linux 11 (bullseye), x86_64

[2021-10-10 16:23] ethancedwards8 commented on #3872
I can reproduce, 2 accounts.

[2021-10-11 06:31] theroch commented on #1299
Expected behaviour

Sync without errors
Actual behaviour

ERROR during sync : "A HTTP transmission error happened. Server error: PROPFIND reply is not XML formatted!"
Steps to reproduce

    Create folder with a dot and an extension. For example "invoke.d", "index.xml" or "sample.c".
    Force sync
    Error message appears in client
    Remove folder thru website or mobile client
    Run "Force s

[2021-10-11 10:01] FlexW commented on #3879
Duplicate of https://github.com/nextcloud/desktop/issues/3405

[2021-10-11 10:07] KGremmer commented on #3428
Still in 21.0.5.
Update to 22 not available for me yet.

[2021-10-11 10:44] Equidamoid opened #3881 "Provide a warning when no keychain is avaialbe"
### Expected behaviour
When logging in with `gnome-keyring` not installed/running, one of these scenarios should happen:
 - (preferred) everythng works, credentials are stored
 - a warning is shown ("can't store the credentials")

### Actual behaviour
Credentials are silently lost. Starting the client again gives "you have been logged out" and forces a manual log-in.

### Steps to reproduce
1. Sta

[2021-10-11 18:43] emichael commented on #3814
@vasyugan As soon as I disable and re-enable the extension (after Nextcloud has already started, hence the delay), the tray icon appears and everything works as normal. No idea why that fixes it, but it does in my case. I'm using the latest version of the appindicatorsupport extension.

[2021-10-11 19:01] Verhoeckx commented on #3782
It's still a bug.

[2021-10-12 07:12] vasyugan commented on #3814
Can confirm that it works for me, too! Thank you very much! How did you stumble across this fix?

[2021-10-12 08:38] #3499 closed, assigned to nobody

[2021-10-12 13:40] FlexW commented on #3687
I don't see any errors related to the GUI inside the logs that could help me to track the issue down. Is the client running inside a VM. With which graphic card is the computer running? Did you try to uninstall the client and then reinstalling it? Because you seem to be the only person with this problem and a lot of people use the client I guess it's something specific to your system.

[2021-10-12 16:30] #3662 closed

[2021-10-13 10:01] tobiasKaminsky commented on #3877
I had this time a while ago. Cool to see that other/you also want to have it.

[2021-10-13 19:53] Codeberg-AsGithubAlternative-buhtz commented on #2414
Does this solve the problem?
#3462

[2021-10-14 00:52] andyxheli commented on #3774
Is there any time frame when vfs will no longer be experimental on MacOS

[2021-10-14 06:01] tobiasKaminsky opened #3889 "Profile page"
On click on each avatar let the user select one of those option:
- profile: opens (public profile) page in web browser
- mail: mailto link handled by OS
- talk: either native app if installed or opens in web browser

Server API to retrieve above info will be introduced with: https://github.com/nextcloud/server/pull/28751

[2021-10-14 06:12] tobiasKaminsky opened #3890 "Research: open office file from web directly in Office"
- on web offer option to "edit locally"

Research:
- special link to Desktop client, which then
  - downloads file (if not already synced/VFS used)
  - opens LibreOffice/Office
  - uploads it after finishing working on it
 OR
- File can maybe directly opened in LibreOffice as they support webDaV (@juliushaertl maybe?)

[2021-10-14 06:13] p-bo commented on #3234
Any news regarding possibility to translate desktop client documentation please? Is it possible to use the same mechanism as in case of https://github.com/nextcloud/documentation/tree/master/user_manual/locale (thus what is remaining is to adapt the same recopies and connect to newly created subproject on Transifex) , or is there some difference and completely different approach is needed?

[2021-10-14 07:30] FlexW commented on #3879
There exists no such branch right now.

[2021-10-14 10:21] p-bo commented on #3234
@FlexW Just curiosity (all in positive and constructive mindset) – why this attitude whether it is worth or even wanted?

Localization (of user interface and documentation) is one of important pieces to cope with digital divide (and FLOSS software is serving there very well due its spirit) - not everyone had / has / will have luck to learn English (older users, who were historically forced to lear

[2021-10-14 10:49] Valdnet commented on #3234
In my opinion, it's nice to read in your native language. It takes care of users (the older ones too) and adds seriousness to the application.

[2021-10-14 12:45] andyxheli commented on #3774
Sounds good! Not a problem at all completely understand. If there’s any testing you need I’d be happy to help.

Sent from my iPhone

On Oct 14, 2021, at 7:42 AM, Felix Weilbach ***@***.***> wrote:

﻿

It's already a task, but the priority is low and it will be a lot of work to implement it. The suffix plugin will probably never become stable on macOS. We want to go with the native solution on macO

[2021-10-14 17:03] tecnosegugio commented on #3802
Just updated Nextcloud to 22.2.0 and the problem no longer appear.
Thank you.

[2021-10-14 19:00] bdrewery opened #3893 "Folder, with desktop.ini, deleted on (mobile) clientA causes (desktop) clientB to get stuck trying to delete it on the server"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-10-14 19:25] bbceg commented on #1321
Seems like a good MVP to me. Can always improve on it later when time permits...

[2021-10-14 21:13] casasfernando commented on #2459
I have the same problem in elementary OS 6. I love the monochrome icons as they blend a lot better with the panel.
Unfortunately in elementary OS  the panel transparency and background color can change automatically based on the desktop background. In some scenarios, where the background is very light, the white icon is almost impossible to see. This is not an issue with darker backgrounds as you

[2021-10-15 04:11] UN-pi opened #3894 "No Mainwindow Windows 10 32bit in 3.3.5"
A left mouseclick should show the main window as in 64 bit.

But in the 32bit version only a taskbar-icon is shown and blinking.
It also can not be reached by using (right mouseclick and selecting main window).
So there are no activities shown.

version is 3.3.5

[2021-10-15 05:33] tobiasKaminsky commented on #3234
We can help with setting it up. Translation is done by our awesome community 👍

[2021-10-15 05:34] tobiasKaminsky commented on #3234
Ah, cool, that you want to help :-)
Please do it 💙

If you need any help, e.g. in creating new resources in Transifex just write here.

[2021-10-15 08:34] crazytok commented on #3407
I would also love to see this feature as all I use nextcloud for is Photo storage/backup!

[2021-10-15 09:39] dpudelko opened #3896 "Client 3.3.5 macOS Desktop no UI appears after installation"
### Expected behaviour
Tray icon in menu bar appears and is usable to control nextcloud.

### Actual behaviour
Unfortunately, I can no longer start or open the ui of the macOS Desktop version.

After the installation, the normal dialog for setting up nextcloud still appeared. But afterwards I had no icon in the menubar. The process itself is running, but I can't control anything.

### Steps to rep

[2021-10-16 04:28] ShawonAshraf commented on #3806
3.3.5 the bug is still there. On both macOS and Linux.

[2021-10-17 11:10] derWalter commented on #2010
thats is just technically right.
but this should work out of the box and not require user intervention on any level,
install and work ffs :D

[2021-10-17 11:38] PhoenixIV opened #3899 "Syncing single folder syncs all higher-level single files"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Actua

[2021-10-17 13:52] xannor commented on #3195
I just came across this and I wanted to know if the merge that closed this issue (https://github.com/keepassxreboot/keepassxc/issues/4443) would solve this issue (on linux), or if the desktop app even honors this? This was just merged a few hours ago, and I dont know if it will be in the next release for keepassxc.

[2021-10-18 09:46] mgallien commented on #3200
fix is merged

[2021-10-18 10:31] FlexW commented on #3803
@silvain This bug is currently not of high priority for us. It's unlikely that will develop a fix soon. Maybe you can give it a try yourself and create your first pull request :)

[2021-10-18 11:15] pmarini-nc opened #3900 "Handling Files Locking in the Desktop Client"
When editing a file, synchronized with the server, with the local editor (ex. Gedit for text files, LibreOffice Calc for spreadsheets ...), there is no way to know if someone else is also editing the file somewhere else.

While the implemented conflict resolution policy works fine in some cases, merging the different versions of the file can be a complex and error prone manual procedure. This situ

[2021-10-19 04:59] QuAzI opened #3905 "Sync stops when local dev environment present"
I have local docker container for development. Each time when laptop wake up (but LAN/WLAN not yet) NextCloud client finds it as default router and try to use. Then NextCloud stuck because wrong certificates detected. Sync doesn't work anymore since this moment. You must close cert window and then restart syncronisation or NextCloud client as workaround

[2021-10-19 07:27] #3849 closed

[2021-10-19 07:35] FlexW commented on #3899
@PhoenixIV Try to delete your sync connection and then try to add a sub folder again as sync connection. That should work. Indeed if you have already configured folder A and inside folder A there is folder B, you can't add folder B as a separate sync target.

[2021-10-19 09:51] Fieldmouse88 commented on #1433
I solved my problem by not nextcloud anymore. Besides "most probably" would not be reassuring enough to actually risk provoking this bug in anything else than a development environment.

[2021-10-19 10:45] ImaCrea opened #3906 "Desktop client can't sync some files, says WindowsError: 5 Access denied"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-10-19 12:13] PhoenixIV commented on #3899
The warning message I mentioned about / already being synchronized came up after I configured only folder B inside folder A to be synchronized with the wizzard upon installation.

I now tried it the way you described: I deleted all synchronization tasks, removed all files from my PC (just to confirm its working) and set it up again from within the settings menu. Now it works as intended. Will you

[2021-10-19 12:17] PhoenixIV commented on #3899
Another idea: Maybe add the possibility to integrate the sync into Windows explorer on a per-sync basis, like as a last step when adding a new folder to sync.

[2021-10-19 19:41] Aephir opened #3909 "macOS client does not sync folders created locally"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-10-19 19:46] adlerweb opened #3910 "Windows >= 3.2.x: checkPathValidityForNewFolder failes for SMB-folders"
I am using the Windows Desktop Client to sync a folder located on a SMB share to a self hosted nextcloud instance. This worked for Versions up to 3.1.3. Starting with 3.2.0-rc1 (tested up to 3.3.5) a error ("`You have no permission to write to the selected folder!`") appears when adding a folder synchronization pair. My account has full write permission for the share/folder, creating files using W

[2021-10-20 10:06] FlexW commented on #3889
@tobiasKaminsky About opening Talk. We already have that button in the upper right corner. Should we add another one?

[2021-10-20 13:16] SpontEIN commented on #3910
I am having the same issue! +1

[2021-10-20 13:56] wonx opened #3912 "“Conflict when uploading a folder. It’s going to get cleared!” when creating new folder in Desktop Client"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-10-20 13:57] wonx commented on #3912
![cleared](https://user-images.githubusercontent.com/2736639/138107238-e3cce3fa-7005-46c1-b3e7-dd0fd015824e.png)

[2021-10-20 14:22] FlexW commented on #3912
@allexzander That might be something you want to have look at. Could that be an issue with the rename logic?

[2021-10-20 14:33] FlexW commented on #3909
Would be weird if the client has changed the permission because it shouldn't be installed as a root and therefore it shouldn't even be possible that the client changes the permissions to root. Can you reproduce the problem reliably? Otherwise, I would suggest we close the ticket and reopen it again if you have problems again. Because until now it seems like you are the only person that experienced

[2021-10-20 14:41] FlexW commented on #3906
@mgallien That looks similar to the issues you once had with one customer where the client had trouble renaming files for no reason. The logs are full of errors because of renaming not only the tmp files.

[2021-10-20 15:07] Aephir commented on #3909
I'll close.

I can't guarantee that some of the directories on Nextcloud storage were not created via shell before installing the macOS client (I tried moving old data between RAIDZ2 datasets, and had an error, but perhaps it created directories before throwing the error; I didn't notice). But it does sound more logically plausible. I'll re-open if I find evidence for the contrary.

[2021-10-20 15:07] #3909 closed

[2021-10-20 15:19] wonx opened #3913 "Conflict between local and remote file every time a file in external storage is edited"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-10-20 16:56] #3748 closed

[2021-10-20 16:57] ringe commented on #2669
This is most clearly still an issue. :)

[2021-10-20 17:20] wonx opened #3914 "Initial scan with virtual filesystem enabled starts from scratch if it's interrupted"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-10-20 18:11] wonx commented on #3665
I'm subscribing to this enhancement report because, as I commented in https://github.com/nextcloud/desktop/issues/3703, the text does not fit the main dialog and is not legible.

[2021-10-20 19:07] aniqueta commented on #1337
Glad to see the activity here. Looks like the API is maturing in macOS Monterey. FYI: Box has adopted it now: https://blog.box.com/get-more-secure-seamless-box-drive-experience-across-macs

[2021-10-21 04:43] tramhao opened #3915 "Failed to get password from kwallet under window manager"
### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.

### Expec

[2021-10-21 08:36] tobiasKaminsky commented on #3900
This is currently discussed in https://github.com/nextcloud-gmbh/customers/issues/643 and then I will add it to our board.

[2021-10-21 09:25] PhoenixIV commented on #3899
Sure, I am fine with a more condense ticket.

In Windows explorer there shows a new entry for each separate folder / sync that is added. It might be sweet to enable or disable this entry not only in general, but maybe have the possibility to choose for every sync if it should be listed in the explorer.

The entry that is added to the navigation area of the explorer is named as the full path to the

[2021-10-21 14:41] boistordu commented on #3399
For what I've experienced there is some kind of incompatibility with Veracrypt or Dokan filesystem. Veracrypt is crashing when updating nextcloud client and that's under fedora.
So in my case a reboot has always fixed the situation but this also means for those where a reboot doesn't fix the problem, that nextcloud encrypted container is giving some problems to general filesystem.

So to others wh

[2021-10-21 17:04] #3726 closed

[2021-10-21 22:51] Markus-Wagner opened #3917 "update Ubuntu requirements on wiki page"
### Steps to reproduce
1. Try to install the ubuntu requirements from https://github.com/nextcloud/desktop/wiki/System-requirements-for-compiling-the-desktop-client on Ubuntu 2104
2. apt can not find qt5-default package

### Client configuration
Client version:

### Suggested solution
1. According to https://askubuntu.com/questions/1335184/qt5-default-not-in-ubuntu-21-04 qt5-default is no longer a

[2021-10-22 01:00] bgeneto commented on #1037
You could simply decrease the value of OWNCLOUD_MAX_PARALLEL environment variable from 6 (default) to 2, e.g.

[2021-10-22 01:17] RubenFixit opened #3918 "When Autoupdate fails, but download succedded."
![image](https://user-images.githubusercontent.com/5217851/138377563-02ebb6de-e8cf-40d5-822b-1eea8a4c0ebc.png)

Auto update fails quite frequently for me. I noticed that just the installation fails. If the auto updated already downloaded the file then I would like the `Update manually` button to open the file explorer to the path of the downloaded file, instead of opening my browser to the nextclo